<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm cancellation</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to cancel your enrolment application?</p>
    </div>
    <div class="modal-footer">
        <!--        <button class="btn btn-default" type="button" ng-click="save()">Save my application</button>-->
        <button class="btn btn-default" type="button" ng-click="ok()">Yes - please cancel</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
    </div>
</div>