<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Oops! Something went wrong...</h4>
    </div>
    <div class="modal-body">
        <p>We could not submit your application. Please make sure all required fields have been completed.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Yup, got it!</button>
    </div>
</div>