<div class="wrapper">
    <section id="application-steps">
        <div class="row navbar-fixed-top" id="steps-nav">
            <div class="btn-group btn-group-justified">
                <a href="#" ui-sref=".selectCourse" ui-sref-active="active-step" class="btn"><i class="icon ion-university" ng-disabled="true"></i> Course</a>
                <!--<a href="#" ui-sref=".eligibility" ui-sref-active="active-step" class="btn"><i class="icon ion-ios-list"></i> Eligibiity</a>-->
                <a href="#" ui-sref=".completeDetails" ui-sref-active="active-step" class="btn"><i class="icon ion-android-person" ng-disabled="true"></i> Personal Details</a>
                <a href="#" ui-sref=".upload" ui-sref-active="active-step" class="btn"><i class="icon ion-upload" ng-disabled="true"></i> Uploads</a>
                <!--<a href="#" ui-sref=".ptr" ui-sref-active="active-step" class="btn"><i class="icon ion-help-circled"></i> Pre-Training Review</a>-->
                <a href="#" ui-sref=".declaration" ui-sref-active="active-step" class="btn"><i class="icon ion-ios-checkmark" ng-disabled="true"></i> Declaration &amp; Send</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="steps-container">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </section>
</div>