<section id="application">
    <div class="container">
        <div class="row">
            <h3 class="step-header"><span class="step-header-number">2</span> Enter Your Personal Details:</h3>
        </div>
        <form action="" class="form" name="applicationForm" id="applicationForm" novalidate>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="form-about">
                        <div class="row">
                            <div class="col-sm-11">
                                <button type="button" data-toggle="collapse" data-parent="#accordion" href="#form-about-collapse" aria-expanded="false" aria-controls="form-about-collapse" class="collapse-toggle-btn" ng-click="apply.panels.personalDetails = !apply.panels.personalDetails">
                                    Tells about you
                                </button>
                            </div>
                            <div class="col-sm-1 text-right">
                                <div class="fieldset-status-icon" ng-show="form_about.$valid">
                                    <svg id="section-success-icon" class="section-success-icon" id="fieldset-success-icon" version="1.1" viewBox="0 0 59 53" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title/>
                                        <desc/>
                                        <defs/>
                                        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                            <g stroke="#2ecc71" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(-721.000000, -2522.000000)">
                                                <g transform="translate(722.000000, 2523.000000)">
                                                    <path d="M51,18 L51,51 L0,51 L0,0 L51,0 L51,2" id="Path" />
                                                    <path d="M57,4 L26,35 L12.222,21.222" id="Path" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="form-about-collapse" role="tabpanel" aria-labelledby="form-about" uib-collapse="apply.panels.personalDetails">
                        <div class="panel-body">
                            <div class="header text-right">
                                <p class="small-info-text"><small>All * fields are required.</small></p>
                            </div>
                            <fieldset id="personal-info" ng-form="form_about">
                                <div class="form-group row">
                                    <div class="col-sm-4 col-md-4">
                                        <label for="title" class="control-label">Title</label>
                                    </div>
                                    <div class="col-sm-8 col-md-3">
                                        <!--<ui-select ng-model="apply.applicant.personalInfo.title">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="title in apply.references.titles">
                                                <span ng-bind="title"></span>
                                            </ui-select-choices>
                                        </ui-select>-->

                                        <select id="title" name="title" class="form-control" ng-model="apply.applicant.personalInfo.title">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="title in apply.references.titles" value="{{title}}">{{title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- NAME BEGINS HERE -->
                                <div class="form-group row has-feedback">
                                    <div class="col-sm-4 col-md-4">
                                        <label for="firstName" class="control-label">Name* </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <i class="icon ion-ios-person input-group-addon"></i>
                                                    <input id="firstName" type="text" name="firstName" regex-validate validation-type="stringOnly" placeholder="First Name/Given Name" class="form-control" ng-model="apply.applicant.personalInfo.firstName" ng-required="true" />
                                                    <!--<span aria-hidden="true" class="glyphicon form-control-feedback"></span>-->
                                                </div>

                                                <div ng-messages="form_about.firstName.$error" ng-show="form_about.firstName.$invalid && form_about.firstName.$touched" class="help-block">
                                                    <div ng-message="required" class="error-msg">First name is required.</div>
                                                    <div ng-message="regexValidate" class="error-msg">Please enter a valid name.</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input id="lastName" type="text" name="lastName" regex-validate validation-type="stringOnly" placeholder="Surname/Legal Name" required="" class="form-control" ng-model="apply.applicant.personalInfo.lastName" ng-required="true" />
                                                <!--<span aria-hidden="true" class="glyphicon form-control-feedback"></span>-->
                                                <div ng-messages="form_about.lastName.$error" ng-show="form_about.lastName.$invalid && form_about.lastName.$touched" class="help-block">
                                                    <div ng-message="required">Last name is required.</div>
                                                    <div ng-message="regexValidate">Please enter a valid name.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label">Have you ever been known by a previous name?* </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="prevName" ng-model="apply.applicant.personalInfo.hasPreviousName" ng-required="true" uib-btn-radio="true" ng-value="true" uncheckable>Yes</label>
                                            <label class="btn btn-default radio-label-btn" name="prevName" ng-model="apply.applicant.personalInfo.hasPreviousName" ng-required="true" uib-btn-radio="false" ng-value="false" uncheckable>No</label>
                                        </div>

                                        <div ng-messages="form_about.prevName.$error" ng-show="form_about.prevName.$invalid && form_about.prevName.$touched" class="help-block">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Previous name question ends here-->
                                <div id="prev-name-reveal" ng-show="apply.applicant.personalInfo.hasPreviousName" class="dynamic-section">
                                    <div class=" form-group row has-feedback">
                                        <div class="col-sm-4 col-md-4">
                                            <label for="firstName" class="control-label">Previous Name* </label>
                                        </div>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <i class="icon ion-ios-person input-group-addon"></i>
                                                        <input id="prevFirstName" type="text" name="prevFirstName" regex-validate validation-type="stringOnly" placeholder="Previous First Name*" class="form-control" ng-model="apply.applicant.personalInfo.previousFirstName" ng-required="apply.applicant.personalInfo.hasPreviousName" />
                                                        <!--<span aria-hidden="true" class="glyphicon form-control-feedback"></span>-->
                                                    </div>
                                                    <div ng-messages="form_about.prevFirstName.$error" ng-show="form_about.prevFirstName.$invalid && form_about.prevFirstName.$touched" class="help-block">
                                                        <div ng-message="required">Previous First name is required.</div>
                                                        <div ng-message="regexValidate">Please enter a valid name.</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input id="prevLastName" type="text" name="prevLastName" regex-validate validation-type="stringOnly" placeholder="Previous Last Name*" class="form-control" ng-model="apply.applicant.personalInfo.previousLastName" ng-required="apply.applicant.personalInfo.hasPreviousName" />
                                                    <div ng-messages="form_about.prevLastName.$error" ng-show="form_about.prevLastName.$invalid && form_about.prevLastName.$touched" class="help-block">
                                                        <div ng-message="required">Previous Last name is required.</div>
                                                        <div ng-message="regexValidate">Please enter a valid name.</div>
                                                    </div>
                                                    <!--<span aria-hidden="true" class="glyphicon form-control-feedback" ></span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 col-md-4">
                                        <label for="dateOfBirth" class="control-label">Date of Birth* </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <i class="icon ion-ios-calendar input-group-addon"></i>
                                                    <input id="dateOfBirth" type="date" name="dateOfBirth" class="form-control" ng-model="apply.applicant.personalInfo.dateOfBirth" ng-required="true" />
                                                </div>
                                                <div ng-messages="form_about.dateOfBirth.$error" ng-show="form_about.dateOfBirth.$invalid && form_about.dateOfBirth.$touched" class="help-block">
                                                    <div ng-message="required">Date of birth is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DOB ends here-->
                                <div class="form-group row">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label">Gender* </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="gender" ng-model="apply.applicant.personalInfo.gender" uib-btn-radio="'male'" ng-value="true" ng-required="true" uncheckable> Male</label>
                                            <label class="btn btn-default radio-label-btn" name="gender" ng-model="apply.applicant.personalInfo.gender" uib-btn-radio="'female'" ng-value="false" ng-required="true" uncheckable> Female</label>
                                            <label class="btn btn-default radio-label-btn" name="gender" ng-model="apply.applicant.personalInfo.gender" uib-btn-radio="'X'" ng-value="false" ng-required="true" uncheckable> X</label>
                                        </div>

                                        <div ng-messages="form_about.gender.$error" ng-show="form_about.gender.$invalid && form_about.gender.$touched" class="help-block">
                                            <div ng-message="required">Please select your gender.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Country Of Birth-->
                                <div class="form-group row">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label">Country Of Birth*</label>
                                    </div>
                                    <div class="col-sm-8 col-md-6">
                                        <!--
                                        <ui-select ng-model="apply.applicant.personalInfo.countryOfBirth" ng-required="true" name="countryOfBirth">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in apply.countries | filter: $select.search">
                                                <span ng-bind="country"></span>
                                            </ui-select-choices>
                                        </ui-select>
-->

                                        <select id="countryOfBirth" class="form-control" ng-model="apply.applicant.personalInfo.countryOfBirth" ng-required="true" name="countryOfBirth">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="country in apply.countries" value="{{country}}">{{country}}</option>
                                        </select>

                                        <div ng-messages="form_about.countryOfBirth.$error" ng-show="form_about.countryOfBirth.$invalid && form_about.countryOfBirth.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Year of Arrival for NON-AUSTRALIANS -->
                                <div class="form-group row" ng-show="apply.notBornInAustralia()">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label">Year of Arrival*</label>
                                    </div>
                                    <div class="col-sm-8 col-md-6">
                                        <div class="input-group">
                                            <i class="icon ion-ios-calendar input-group-addon"></i>
                                            <input regex-validate validation-type="year" id="yearOfArrival" type="text" name="yearOfArrival" maxlength="4" ng-maxlength="4" ng-minlength="4" placeholder="Year arrived in Australia" class="form-control" ng-model="apply.applicant.personalInfo.yearOfArrival" ng-required="apply.notBornInAustralia()" />
                                        </div>
                                        <div ng-messages="form_about.yearOfArrival.$error" ng-show="form_about.yearOfArrival.$invalid && form_about.yearOfArrival.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Cultural Diversity for AUSTRALIANS-->
                                <div class="form-group row" ng-show="apply.applicant.personalInfo.countryOfBirth === 'Australia'">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="control-label">Cultural Diversity*</label>
                                    </div>
                                    <div class="col-sm-8 col-md-6">
                                        <ui-select ng-model="apply.applicant.personalInfo.culturalBackground" ng-required="apply.applicant.personalInfo.countryOfBirth === 'Australia'" name="culturalBackground">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="diversity in apply.references.culturalBg">
                                                <span ng-bind="diversity"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-messages="form_about.culturalBackground.$error" ng-show="form_about.culturalBackground.$invalid && form_about.culturalBackground.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>


                <!-- CONTACT DETAILS -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="form-contact">
                        <div class="row">
                            <div class="col-sm-11">
                                <button type="button" data-toggle="collapse" data-parent="#accordion" href="#form-contact-collapse" aria-expanded="false" aria-controls="form-contact-collapse" class="collapse-toggle-btn" ng-click="apply.panels.contactDetails = !apply.panels.contactDetails">
                                    How can we get in touch with you?
                                </button>
                            </div>
                            <div class="col-sm-1 text-right">
                                <div class="fieldset-status-icon" ng-show="form_contact.$valid">
                                    <svg id="section-success-icon" class="section-success-icon" id="fieldset-success-icon" version="1.1" viewBox="0 0 59 53" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title/>
                                        <desc/>
                                        <defs/>
                                        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                            <g stroke="#2ecc71" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(-721.000000, -2522.000000)">
                                                <g transform="translate(722.000000, 2523.000000)">
                                                    <path d="M51,18 L51,51 L0,51 L0,0 L51,0 L51,2" id="Path" />
                                                    <path d="M57,4 L26,35 L12.222,21.222" id="Path" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="form-contact-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="form-contact" uib-collapse="apply.panels.contactDetails">
                        <div class="panel-body">
                            <div class="header text-right">
                                <p class="small-info-text"><small>All * fields are required.</small></p>
                            </div>
                            <fieldset id="contact-info" ng-form="form_contact">
                                <!-- Contact information-->
                                <div class="form-group row has-feedback">
                                    <div class="col-sm-5 col-md-4">
                                        <label for="streetAddress" class="control-label">Residential Address* </label>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <div class="input-group">
                                            <i class="icon ion-home input-group-addon"></i>
                                            <input id="streetAddress" type="text" name="streetAddress" regex-validate validation-type="streetAddress" placeholder="Street Address" maxlength="250" class="form-control" ng-model="apply.applicant.contactInfo.address.residential.street" ng-required="true" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                        </div>
                                        <div ng-messages="form_contact.streetAddress.$error" ng-show="form_contact.streetAddress.$invalid && form_contact.streetAddress.$touched" class="help-block">
                                            <div ng-message="required">Street address required.</div>
                                            <div ng-message="regexValidate">Please enter a valid street address.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Residential street address ends here-->
                                <div class="form-group row has-feedback">
                                    <div class="col-sm-5 col-md-4">

                                    </div>
                                    <div class="col-sm-7 col-md-8">
                                        <div class="input-group">
                                            <i class="icon ion-ios-location input-group-addon"></i>
                                            <input id="suburb" type="text" name="suburb" placeholder="Suburb" regex-validate validation-type="stringWithSpaces" maxlength="60" class="form-control" ng-model="apply.applicant.contactInfo.address.residential.suburb" ng-required="true" />
                                            <!--<span aria-hidden=" true" class="glyphicon form-control-feedback"></span>-->
                                        </div>
                                        <div ng-messages="form_contact.suburb.$error" ng-show="form_contact.suburb.$invalid && form_contact.suburb.$touched" class="help-block">
                                            <div ng-message="required">Suburb required.</div>
                                            <div ng-message="regexValidate">Please enter a valid suburb.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 col-md-4">
                                        <!--OFFSET-->
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!--<ui-select ng-model="apply.applicant.contactInfo.address.residential.state" ng-required="true" name="residentialState">
    <ui-select-match placeholder="Choose State...">
        <span ng-bind="$select.selected"></span></ui-select-match>
    <ui-select-choices repeat="state in apply.references.states | filter: $select.search">
        <span ng-bind="state"></span>
    </ui-select-choices>
</ui-select>-->
                                                <select id="residentialState" ng-model="apply.applicant.contactInfo.address.residential.state" ng-required="true" name="residentialState" class="form-control">
                                                    <option value="">Select an option…</option>
                                                    <option ng-repeat="state in apply.references.states" value="{{state}}">{{state}}</option>
                                                </select>

                                                <div ng-messages="form_contact.residentialState.$error" ng-show="form_contact.residentialState.$invalid && form_contact.residentialState.$touched" class="help-block">
                                                    <div ng-message="required">State required.</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <i class="icon ion-ios-location input-group-addon"></i>
                                                    <input regex-validate validation-type="postcode" id="postcode" type="text" name="postcode" placeholder="Postcode" maxlength="4" class="form-control" ng-model="apply.applicant.contactInfo.address.residential.postcode" ng-required="true" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                                </div>
                                                <div ng-messages="form_contact.postcode.$error" ng-show="form_contact.postcode.$invalid && form_contact.postcode.$touched" class="help-block">
                                                    <div ng-message="regexValidate">Please enter a valid postcode.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <!-- Postal address divider-->
                                <div class="form-group row">
                                    <div class="col-sm-5 col-md-4">
                                        <label class="control-label">Postal Address</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="postalAddress" ng-model="apply.applicant.contactInfo.address.same" uib-btn-radio="true" ng-value="true" uncheckable> Same as above</label>
                                            <label class="btn btn-default radio-label-btn" name="postalAddress" ng-model="apply.applicant.contactInfo.address.same" uib-btn-radio="false" ng-value="false" uncheckable> No, different</label>
                                        </div>
                                        <div ng-messages="form_contact.postalAddress.$error" ng-show="form_contact.postalAddress.$invalid && form_contact.postalAddress.$touched" class="help-block">
                                            <div ng-message="required">Please select an option.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Postal address question ends here-->
                                <div id="postal-address-reveal" ng-if="!apply.applicant.contactInfo.address.same">

                                    <!-- Contact information-->
                                    <div class="form-group row has-feedback">
                                        <div class="col-sm-5 col-md-4">

                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                            <div class="input-group">
                                                <i class="icon ion-home input-group-addon"></i>
                                                <input id="postalStreet" type="text" name="postalStreet" placeholder="Postal Address" regex-validate validation-type="postalAddress" maxlength="250" class="form-control" ng-model="apply.applicant.contactInfo.address.postal.street" ng-required="!apply.applicant.contactInfo.address.same" />
                                                <!--<span aria-hidden="true" class="glyphicon form-control-feedback"></span>-->
                                            </div>
                                            <div ng-messages="form_contact.postalStreet.$error" ng-show="form_contact.postalStreet.$invalid && form_contact.postalStreet.$touched" class="help-block">
                                                <div ng-message="required">Postal address required.</div>
                                                <div ng-message="regexValidate">Please enter a valid postal address.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Residential street address ends here-->
                                    <div class="form-group row has-feedback">
                                        <div class="col-sm-5 col-md-4">

                                        </div>
                                        <div class="col-sm-7 col-md-8">
                                            <div class="input-group">
                                                <i class="icon ion-ios-location input-group-addon"></i>
                                                <input id="postalSuburb" type="text" name="postalSuburb" placeholder="Suburb" maxlength="60" regex-validate validation-type="stringWithSpaces" class="form-control" ng-model="apply.applicant.contactInfo.address.postal.suburb" ng-required="!apply.applicant.contactInfo.address.same" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                            </div>
                                            <div ng-messages="form_contact.postalSuburb.$error" ng-show="form_contact.postalSuburb.$invalid && form_contact.postalSuburb.$touched" class="help-block">
                                                <div ng-message="required">Suburb required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-5 col-md-4">
                                            <!--OFFSET-->
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- <ui-select ng-model="apply.applicant.contactInfo.address.postal.state" ng-required="true" name="postalState">
                                                        <ui-select-match placeholder="Choose State...">
                                                            <span ng-bind="$select.selected"></span>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="state in apply.references.states">
                                                            <span ng-bind="state"></span>
                                                        </ui-select-choices>
                                                    </ui-select>-->

                                                    <select id="postalState" ng-model="apply.applicant.contactInfo.address.postal.state" ng-required="true" name="postalState" class="form-control">
                                                        <option value="">Select an option…</option>
                                                        <option ng-repeat="state in apply.references.states" value="{{state}}">{{state}}</option>
                                                    </select>

                                                    <div ng-messages="form_contact.postalState.$error" ng-show="form_contact.postalState.$invalid && form_contact.postalState.$touched" class="help-block">
                                                        <div ng-message="required">State required.</div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <i class="icon ion-ios-location input-group-addon"></i>
                                                        <input regex-validate validation-type="postcode" id="postalPostcode" type="text" name="postalPostcode" placeholder="Postcode" maxlength="4" class="form-control" ng-model="apply.applicant.contactInfo.address.postal.postcode" ng-required="!apply.applicant.contactInfo.address.same" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                                    </div>
                                                    <div ng-messages="form_contact.postalPostcode.$error" ng-show="form_contact.postalPostcode.$invalid && form_contact.postalPostcode.$touched" class="help-block">
                                                        <div ng-message="regexValidate">Please enter a valid postcode.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <!-- CONTACT INFORMATION SECTION-->
                                <div class="form-group row has-feedback">
                                    <label for="primaryPhone" class="col-xs-12 col-sm-5 col-md-4 control-label">What's your primary contact number?* </label>
                                    <div class="col-xs-10 col-sm-4 col-md-3">
                                        <div class="input-group">
                                            <i class="icon ion-android-phone-portrait input-group-addon"></i>
                                            <input regex-validate validation-type="mobile" id="primaryPhone" type="tel" name="primaryPhone" maxlength="10" placeholder="eg. 0442128782" class="form-control" ng-model="apply.applicant.contactInfo.mobile" ng-required="true" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                        </div>
                                        <div ng-messages="form_contact.primaryPhone.$error" ng-show="form_contact.primaryPhone.$invalid && form_contact.primaryPhone.$touched" class="help-block">
                                            <div ng-message="regexValidate">Please enter a valid mobile number.</div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <!-- CONTACT INFORMATION SECTION-->
                                <div class="form-group row has-feedback">
                                    <label for="emergencyContactName" class="col-sm-5 col-md-4 control-label">Emergency Contact Name* </label>
                                    <div class="col-sm-4 col-md-4">
                                        <input id="emergencyContactName" type="text" name="emergencyContactName" regex-validate validation-type="stringWithSpaces" placeholder="First Name Last Name" class="form-control" ng-model="apply.applicant.emergencyContactInfo.name" ng-required="true" />
                                        <!--<span aria-hidden="true" class="glyphicon form-control-feedback"></span>-->
                                        <div ng-messages="form_contact.emergencyContactName.$error" ng-show="form_contact.emergencyContactName.$invalid && form_contact.emergencyContactName.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                            <div ng-message="regexValidate">Please check the name entered.</div>
                                        </div>
                                    </div>

                                    <!-- name-->
                                    <div class="col-sm-3 col-md-4"></div>
                                    <!-- number-->
                                </div>
                                <!-- Emergency contact details-->
                                <div class="form-group row has-feedback">
                                    <label for="emergencyContactRel" class="col-sm-5 col-md-4 control-label">Relationship* </label>
                                    <div class="col-sm-4 col-md-4">
                                        <input id="emergencyContactRel" type="text" name="emergencyContactRel" regex-validate validation-type="stringWithSpaces" maxlength="60" placeholder="Type relationship here" list="relationships" class="form-control" ng-model="apply.applicant.emergencyContactInfo.relationship" ng-required="true" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                        <datalist id="relationships">
                                            <option value="Father"></option>
                                            <option value="Mother"></option>
                                            <option value="Husband"></option>
                                            <option value="Wife"></option>
                                            <option value="Son"></option>
                                            <option value="Daughter"></option>
                                            <option value="Brother"></option>
                                            <option value="Sister"></option>
                                            <option value="Boyfriend"></option>
                                            <option value="Girlfriend"></option>
                                        </datalist>
                                        <div ng-messages="form_contact.emergencyContactRel.$error" ng-show="form_contact.emergencyContactRel.$invalid && form_contact.emergencyContactRel.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                            <div ng-message="regexValidate">Please check the input you entered.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Emergency contact relationship ends here-->
                                <div class="form-group row has-feedback">
                                    <label for="emergencyContactNumber" class="col-sm-5 col-md-4 control-label">Contact Number* </label>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="input-group">
                                            <i class="icon ion-android-phone-portrait input-group-addon"></i>
                                            <input regex-validate validation-type="mobile" id="emergencyContactNumber" type="tel" name="emergencyContactNumber" maxlength="10" placeholder="Number" class="form-control" ng-model="apply.applicant.emergencyContactInfo.number" ng-require="true" /><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                                        </div>
                                        <div ng-messages="form_contact.emergencyContactNumber.$error" ng-show="form_contact.emergencyContactNumber.$invalid && form_contact.emergencyContactNumber.$touched" class="help-block">
                                            <div ng-message="regexValidate">Please enter a valid mobile number.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Emergency contact number ends here-->
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="form-education">
                        <div class="row">
                            <div class="col-sm-11">
                                <button type="button" data-toggle="collapse" data-parent="#accordion" href="#form-education-collapse" aria-expanded="false" aria-controls="form-education-collapse" class="collapse-toggle-btn" ng-click="apply.panels.educationDetails=! apply.panels.educationDetails">
                                    Your education and employment History
                                </button>
                            </div>
                            <div class="col-sm-1 text-right">
                                <div class="fieldset-status-icon" ng-show="form_education.$valid">
                                    <svg id="section-success-icon" class="section-success-icon" id="fieldset-success-icon" version="1.1" viewBox="0 0 59 53" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title/>
                                        <desc/>
                                        <defs/>
                                        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                            <g stroke="#2ecc71" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(-721.000000, -2522.000000)">
                                                <g transform="translate(722.000000, 2523.000000)">
                                                    <path d="M51,18 L51,51 L0,51 L0,0 L51,0 L51,2" id="Path" />
                                                    <path d="M57,4 L26,35 L12.222,21.222" id="Path" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="form-education-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="form-education" uib-collapse="apply.panels.educationDetails">
                        <div class="panel-body">
                            <div class="header text-right">
                                <p class="small-info-text"><small>All * fields are required.</small></p>
                            </div>
                            <fieldset id="education-employment" ng-form="form_education">
                                <div class="schooling-reveal">
                                    <div class="form-group row">
                                        <!-- Level of Schooling begins here-->
                                        <label for="levelOfSchool" class="col-sm-5 col-md-4 control-label"> What is your highest SUCCESSFULLY COMPLETED level of schooling?* </label>
                                        <div class="col-sm-6 col-md-5 col-lg-4">
                                            <!--<ui-select ng-model="apply.applicant.educationInfo.highestLevel" name="levelOfSchool" ng-required="true">
                                                <ui-select-match placeholder="Choose...">
                                                    <span ng-bind="$select.selected"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="level in apply.references.schoolLevel">
                                                    <span ng-bind="level"></span>
                                                </ui-select-choices>
                                            </ui-select>-->

                                            <select id="levelOfSchool" ng-model="apply.applicant.educationInfo.highestLevel" name="levelOfSchool" ng-required="true" class="form-control">
                                                <option value="" selected>Select an option…</option>
                                                <option ng-repeat="level in apply.references.schoolLevel" value="{{level}}">{{level}}</option>
                                            </select>


                                            <div ng-messages="form_education.levelOfSchool.$error" ng-show="form_education.levelOfSchool.$invalid && form_education.levelOfSchool.$touched" class="help-block">
                                                <div ng-message="required">Required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Year last attended ends here-->
                                    <div class="form-group row" ng-show="apply.attendedSecondarySchool()">
                                        <!-- School name begins here-->
                                        <label for="schoolName" class="col-sm-5 col-md-4 control-label">School Name: </label>
                                        <div class="col-sm-6 col-md-5">
                                            <input id="schoolName" type="text" name="schoolName" regex-validate validation-type="stringWithSpaces" placeholder="Name of school attended" class="form-control" ng-model="apply.applicant.educationInfo.highSchool.name" ng-required="apply.attendedSecondarySchool()" />
                                            <div ng-messages="form_education.schoolName.$error" ng-show="form_education.schoolName.$invalid && form_education.schoolName.$touched" class="help-block">
                                                <div ng-message="required">Required.</div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Level of Schooling ends here-->
                                    <div class="form-group row" ng-show="apply.attendedSecondarySchool()">
                                        <!-- Year last attended begins here-->
                                        <label for="yearLastAttended" class="col-sm-5 col-md-4 control-label">Year last attended school: </label>
                                        <div class="col-sm-4 col-md-3">
                                            <div class="input-group">
                                                <i class="icon ion-ios-calendar input-group-addon"></i>
                                                <input regex-validate validation-type="year" id="yearLastAttended" type="text" name="yearLastAttended" maxlength="4" placeholder="Year last attended" class="form-control" ng-model="apply.applicant.educationInfo.highSchool.year" ng-required="apply.attendedSecondarySchool()" />
                                            </div>
                                            <div ng-messages="form_education.yearLastAttended.$error" ng-show="form_education.yearLastAttended.$invalid && form_education.yearLastAttended.$touched" class="help-block">
                                                <div ng-message="regexValidate">Please enter a valid year.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- School name ends here-->
                                    <div class="form-group row" ng-show="apply.attendedSecondarySchool()">
                                        <!-- State in which you attended school begins here-->
                                        <label for="schoolState" class="col-sm-5 col-md-4 control-label">State: </label>
                                        <div class="col-sm-4 col-md-3">
                                            <!--  <ui-select ng-model="apply.applicant.educationInfo.highSchool.state" ng-required="apply.applicant.educationInfo.highestLevel !=='Never Attended School'" name="schoolState">
                                                <ui-select-match placeholder="Choose...">
                                                    <span ng-bind="$select.selected"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="state in apply.references.states | filter: $select.search">
                                                    <span ng-bind="state"></span>
                                                </ui-select-choices>
                                            </ui-select>
-->
                                            <select id="schoolState" ng-model="apply.applicant.educationInfo.highSchool.state" ng-required="apply.applicant.educationInfo.highestLevel !=='Never Attended School'" name="schoolState" class="form-control">
                                                <option value="" selected>Select an option…</option>
                                                <option ng-repeat="state in apply.references.states" value="{{state}}">{{state}}</option>
                                            </select>


                                            <div ng-messages="form_education.schoolState.$error" ng-show="form_education.schoolState.$invalid && form_education.schoolState.$touched" class="help-block">
                                                <div ng-message="required">State required.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- State in which you attended school ends here-->
                                    <div class="form-group row" ng-show="apply.attendedSecondarySchool() && apply.schoolStateIsVic()">
                                        <label class="col-sm-5 col-md-4 control-label">Do you have a Victorian Student Number(VSN)?</label>
                                        <div class="col-sm-7">

                                            <div class="btn-group">
                                                <label class="btn btn-default radio-label-btn" name="schoolStateIsVic" ng-model="apply.applicant.educationInfo.hasVsn" uib-btn-radio="true" ng-value="true" uncheckable> Yes</label>
                                                <label class="btn btn-default radio-label-btn" name="schoolStateIsVic" ng-model="apply.applicant.educationInfo.hasVsn" uib-btn-radio="false" ng-value="false" uncheckable> No</label>
                                            </div>

                                            <!--                                            <div ng-messages="form_education.schoolStateIsVic.$error" ng-show="form_education.schoolStateIsVic.$invalid && form_education.attendingSchool.$touched" class="help-block">
                                                <div ng-message="required">Please select an option.</div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <!-- VSN question ends here-->

                                    <div class="form-group row" ng-show="apply.hasVsn()">
                                        <!-- School name begins here-->
                                        <label for="vsn" class="col-sm-5 col-md-4 control-label">Enter your Victorian Student Number: </label>
                                        <div class="col-sm-6 col-md-5">
                                            <input id="vsn" type="text" name="vsn" placeholder="VSN number" maxlength="9" minlength="9" class="form-control" ng-model="apply.applicant.educationInfo.vsn" />
                                            <!--<div ng-messages="form_education.schoolName.$error" ng-show="form_education.schoolName.$invalid && form_education.schoolName.$touched" class="help-block">
                                                <div ng-message="required">Required.</div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <!-- VSN number ends here-->

                                    <div class="form-group row" ng-show="apply.noVsn()">
                                        <label class="col-sm-5 col-md-4 control-label">Have you attended any Victorian school since 2009?</label>
                                        <div class="col-sm-7">
                                            <div class="btn-group">
                                                <label class="btn btn-default radio-label-btn" name="attendedVicSchool" ng-model="apply.applicant.educationInfo.attendedVicSchool" uib-btn-radio="true" ng-value="true" uncheckable>Yes</label>
                                                <label class="btn btn-default radio-label-btn" name="attendedVicSchool" ng-model="apply.applicant.educationInfo.attendedVicSchool" uib-btn-radio="false" ng-value="false" uncheckable>No</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Attended any VIC school ? -->
                                    <div class="form-group row" ng-show="apply.attendedVicSchool()">
                                        <!-- School name begins here-->
                                        <label for="receventVicSchool" class="col-sm-5 col-md-4 control-label">Enter your most recent Victorian school attended: </label>
                                        <div class="col-sm-6 col-md-5">
                                            <input id="receventVicSchool" type="text" name="receventVicSchool" regex-validate validation-type="stringWithSpaces" placeholder="School name" class="form-control" ng-model="apply.applicant.educationInfo.receventVicSchool" />
                                        </div>
                                    </div>


                                    <div class="form-group row" ng-show="apply.noVsn()">
                                        <label class="col-sm-5 col-md-4 control-label">Have you undertaken any training with a TAFE or other VET Training Provider in Victoria since 2011?</label>
                                        <div class="col-sm-7">
                                            <div class="btn-group">
                                                <label class="btn btn-default radio-label-btn" name="attendedVet" ng-model="apply.applicant.educationInfo.attendedVet" uib-btn-radio="true" ng-value="true" uncheckable> Yes</label>
                                                <label class="btn btn-default radio-label-btn" name="attendedVet" ng-model="apply.applicant.educationInfo.attendedVet" uib-btn-radio="false" ng-value="false" uncheckable> No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TAFE sections -->



                                    <div class="form-group row" ng-show="apply.attendedVet()">
                                        <!-- School name begins here-->
                                        <label for="recentRtosOne" class="col-sm-5 col-md-4 control-label">List up to 3 most recent training organisations ou have participated with since 2011: </label>
                                        <div class="col-sm-6 col-md-5">
                                            <input id="recentRtosOne" type="text" regex-validate validation-type="stringWithSpaces" ng-required="false" name="recentRtosOne" placeholder="School Name -- 1" class="form-control" ng-model="apply.applicant.educationInfo.recentRtos.one" />
                                        </div>
                                    </div>
                                    <!-- RTOS attended section ends here-->


                                    <div class="form-group row" ng-show="apply.attendedVet()">
                                        <!-- School name begins here-->
                                        <label for="recentRtosTwo" class="col-sm-5 col-md-4 control-label"></label>
                                        <div class="col-sm-6 col-md-5">
                                            <input id="recentRtosTwo" type="text" regex-validate validation-type="stringWithSpaces" name="recentRtosTwo" placeholder="School Name -- 2" class="form-control" ng-model="apply.applicant.educationInfo.recentRtos.two" ng-required="false" />
                                        </div>
                                    </div>
                                    <!-- RTOS 2 section ends here-->

                                    <div class="form-group row" ng-show="apply.attendedVet()">
                                        <!-- School name begins here-->
                                        <label for="recentRtosThree" class="col-sm-5 col-md-4 control-label"></label>
                                        <div class="col-sm-6 col-md-5">
                                            <input id="recentRtosThree" type="text" regex-validate validation-type="stringWithSpaces" ng-required="false" name="recentRtosThree" placeholder="School Name -- 3" class="form-control" ng-model="apply.applicant.educationInfo.recentRtos.three" />
                                        </div>
                                    </div>
                                    <!-- RTOS 2 section ends here-->


                                    <div class="form-group row" ng-show="apply.livesInQld()">
                                        <label class="col-sm-5 col-md-4 control-label">Are you still attending secondary school? </label>
                                        <div class="col-sm-7">
                                            <div class="btn-group">
                                                <label class="btn btn-default radio-label-btn" name="attendingSchool" ng-model="apply.applicant.educationInfo.stillAttending" uib-btn-radio="true" ng-value="true" uncheckable> Yes</label>
                                                <label class="btn btn-default radio-label-btn" name="attendingSchool" ng-model="apply.applicant.educationInfo.stillAttending" uib-btn-radio="false" ng-value="false" uncheckable> No</label>
                                            </div>

                                            <div ng-messages="form_education.attendingSchool.$error" ng-show="form_education.attendingSchool.$invalid && form_education.attendingSchool.$touched" class="help-block">
                                                <div ng-message="required">Please select an option.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Still attending school ends here-->

                                    <div class="form-group row" ng-show="apply.stillAttendingSec() && apply.livesInQld() ">
                                        <label class="col-sm-5 col-md-4 control-label">Are you currently completing year 12?</label>
                                        <div class="col-sm-7">
                                            <div class="btn-group">
                                                <label class="btn btn-default radio-label-btn" name="attendingYearTwelve" ng-model="apply.applicant.educationInfo.attendingYearTwelve" uib-btn-radio="true" ng-value="true" ng-required="apply.stillAttendingSec() && apply.livesInQld()" uncheckable> Yes</label>
                                                <label class="btn btn-default radio-label-btn" name="attendingYearTwelve" ng-model="apply.applicant.educationInfo.attendingYearTwelve" uib-btn-radio="false" ng-value="false" ng-required="apply.stillAttendingSec() && apply.livesInQld()" uncheckable> No</label>
                                            </div>

                                            <div ng-messages="form_education.attendingYearTwelve.$error" ng-show="form_education.attendingYearTwelve.$invalid && form_education.attendingSchool.$touched" class="help-block">
                                                <div ng-message="required">Please select an option.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Still attending year 12 ends here-->


                                    <div id="qld-lui-reveal" class="form-group row" ng-show="apply.livesInQld() && apply.stillAttendingSec() && apply.attendingYearTwelve()">
                                        <!-- Queensland students provide LUI begins here-->
                                        <label for="lui" class="col-sm-5 col-md-4 control-label">Please provide a Learner Unique Identifier (LUI): </label>
                                        <div class="col-sm-4 col-md-3">
                                            <input id="lui" type="text" name="lui" regex-validate validation-type="lui" ng-maxlength="10" ng-minlength="10" maxlength="10" minlength="10" ng-required="apply.livesInQld() && apply.stillAttendingSec() && apply.attendingYearTwelve()" placeholder="Enter LUI" class="form-control" ng-model="apply.applicant.educationInfo.lui" />
                                            <div ng-messages="form_education.lui.$error" ng-show="form_education.lui.$invalid && form_education.lui.$touched" class="help-block">
                                                <div ng-message="required">Please provide a valid LUI number.</div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Queensland students provide LUI ends here-->
                                </div>


                                <hr/>
                                <!-- Previous Quals divider-->
                                <div class="form-group row">
                                    <!-- Previous qualifications achieved begins here-->
                                    <label for="prevQuals" class="col-sm-5 col-md-4 control-label">Highest previous qualifications achieved*: </label>
                                    <div class="col-sm-6 col-md-5">
                                        <!--
                                        <ui-select ng-model="apply.applicant.educationInfo.previousQuals" name="prevQuals" ng-required="true">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="qual in apply.references.previousQuals">
                                                <span ng-bind="qual"></span>
                                            </ui-select-choices>
                                        </ui-select>
-->
                                        <select id="prevQuals" ng-model="apply.applicant.educationInfo.previousQuals" name="prevQuals" class="form-control">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="qual in apply.references.previousQuals" value="{{qual}}">{{qual}}</option>
                                        </select>

                                        <!--
                                      <div ng-messages="form_education.prevQuals.$error" ng-show="form_education.prevQuals.$invalid && form_education.prevQuals.$touched" class="help-block">
    <div ng-message="required">Required.</div>
</div>
-->
                                    </div>
                                </div>
                                <!-- Previous qualifications achieved-->

                                <div class="form-group row" ng-show="apply.hasPreviousQual()">
                                    <label class="col-sm-5 col-md-4 control-label">Please indicate which of these identifies your qualification:</label>
                                    <div class="col-sm-7">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="previousQualType" ng-model="apply.applicant.educationInfo.previousQualType" uib-btn-radio="'Australian qualification'" ng-required="apply.hasPreviousQual()" uncheckable> Australian qualification</label>
                                            <label class="btn btn-default radio-label-btn" name="previousQualType" ng-model="apply.applicant.educationInfo.previousQualType" uib-btn-radio="'Australian equivalent'" ng-required="apply.hasPreviousQual()" uncheckable> Australian equivalent</label>
                                            <label class="btn btn-default radio-label-btn" name="previousQualType" ng-model="apply.applicant.educationInfo.previousQualType" uib-btn-radio="'International'" ng-required="apply.hasPreviousQual()" uncheckable> International</label>
                                        </div>

                                        <div ng-messages="form_education.attendingYearTwelve.$error" ng-show="form_education.attendingYearTwelve.$invalid && form_education.attendingSchool.$touched" class="help-block">
                                            <div ng-message="required">Please select an option.</div>
                                        </div>
                                    </div>
                                </div>


                                <hr/>
                                <!-- Employment status ends here-->
                                <div id="employment-status-reveal" class="form-group row">
                                    <label for="employmentStatusDesc" class="col-sm-5 col-md-4 control-label">Which BEST describes your current employment status? </label>
                                    <div class="col-sm-6 col-md-5">
                                        <!--
                                        <ui-select ng-model="apply.applicant.employmentInfo.employmentStatus" ng-required="true" name="employmentStatusDesc">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="status in apply.references.employmentStatus">
                                                <span ng-bind="status"></span>
                                            </ui-select-choices>
                                        </ui-select>
-->
                                        <select id="employmentStatusDesc" ng-model="apply.applicant.employmentInfo.employmentStatus" ng-required="true" name="employmentStatusDesc" class="form-control">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="status in apply.references.employmentStatus" value="{{status}}">{{status}}</option>
                                        </select>

                                        <div ng-messages="form_education.employmentStatusDesc.$error" ng-show="form_education.employmentStatusDesc.$invalid && form_education.employmentStatusDesc.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>


                                    </div>
                                </div>
                                <!-- Employment status descriptions ends here-->

                                <div id="current-occupation-reveal" class="form-group row" ng-show="apply.isEmployed()">
                                    <label for="currentOccupation" class="col-sm-5 col-md-4 control-label">Which category best describes your current occupation? </label>
                                    <div class="col-sm-7 col-md-5">
                                        <!--
                                        <ui-select ng-model="apply.applicant.employmentInfo.occupation" ng-required="apply.applicant.employmentInfo.employed" name="currentOccupation">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="occupation in apply.references.occupation">
                                                <span ng-bind="occupation"></span>
                                            </ui-select-choices>
                                        </ui-select>
-->
                                        <select id="currentOccupation" ng-model="apply.applicant.employmentInfo.occupation" ng-required="apply.isEmployed()" name="currentOccupation" class="form-control">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="occupation in apply.references.occupation" value="{{occupation}}">{{occupation}}</option>
                                        </select>
                                        <div ng-messages="form_education.currentOccupation.$error" ng-show="form_education.currentOccupation.$invalid && form_education.currentOccupation.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>



                                    </div>
                                </div>
                                <!-- Recent occupation category ends here-->
                                <div id="industry-occupation-reveal" class="form-group row" ng-show="apply.isEmployed()">
                                    <label for="occupationIndustry" class="col-sm-5 col-md-4 control-label">Which classification best describes the industry of your current or previous employer?</label>
                                    <div class="col-sm-7 col-md-5">
                                        <!--
                                        <ui-select ng-model="apply.applicant.employmentInfo.industry" ng-required="apply.applicant.employmentInfo.employed" name="occupationIndustry">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="industry in apply.references.industry">
                                                <span ng-bind="industry"></span>
                                            </ui-select-choices>
                                        </ui-select>-->

                                        <select id="occupationIndustry" ng-model="apply.applicant.employmentInfo.industry" ng-required="apply.isEmployed()" name="occupationIndustry" class="form-control">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="industry in apply.references.industry" value="{{industry}}">{{industry}}</option>
                                        </select>

                                        <div ng-messages="form_education.occupationIndustry.$error" ng-show="form_education.occupationIndustry.$invalid && form_education.occupationIndustry.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>



                                    </div>
                                </div>
                                <!-- Recent occupation category ends here-->
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-heading" role="tab" id="form-other">
                        <div class="row">
                            <div class="col-sm-11">
                                <button type="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="form-other-collapse" class="collapse-toggle-btn" ng-click="apply.panels.otherDetails=! apply.panels.otherDetails">
                                    Other details
                                </button>
                            </div>
                            <div class="col-sm-1 text-right">
                                <div class="fieldset-status-icon" ng-show="form_other.$valid">
                                    <svg id="section-success-icon" class="section-success-icon" id="fieldset-success-icon" version="1.1" viewBox="0 0 59 53" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title/>
                                        <desc/>
                                        <defs/>
                                        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                            <g stroke="#2ecc71" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(-721.000000, -2522.000000)">
                                                <g transform="translate(722.000000, 2523.000000)">
                                                    <path d="M51,18 L51,51 L0,51 L0,0 L51,0 L51,2" id="Path" />
                                                    <path d="M57,4 L26,35 L12.222,21.222" id="Path" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="form-other-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="form-other" uib-collapse="apply.panels.otherDetails">
                        <div class="panel-body">
                            <div class="header text-right">
                                <p class="small-info-text"><small>All * fields are required.</small></p>
                            </div>
                            <fieldset id="other-details" ng-form="form_other">
                                <div class="form-group row">
                                    <label for="languageSpoken" class="col-sm-5 col-md-4 control-label"> Main language spoken at home: </label>
                                    <div class="col-sm-5 col-md-4">
                                        <!--   <ui-select ng-model="apply.applicant.otherInfo.language" ng-required="true" name="languageSpoken">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="language in apply.languages | filter: $select.search">
                                                <span ng-bind="language"></span>
                                            </ui-select-choices>
                                        </ui-select>-->
                                        <select id="languageSpoken" ng-model="apply.applicant.otherInfo.language" ng-required="true" name="languageSpoken" class="form-control">
                                            <option value="">Select language…</option>
                                            <option ng-repeat="language in apply.languages" value="{{language}}">{{language}}</option>
                                        </select>

                                        <div ng-messages="form_other.languageSpoken.$error" ng-show="form_other.languageSpoken.$invalid && form_other.languageSpoken.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>

                                    </div>
                                </div>
                                <!-- List will be populated from languages JSON file-->
                                <div id="levelOfEnglish" class="form-group row" ng-show="apply.languageNotEnglish()">
                                    <label for="languageLevel" class="col-sm-5 col-md-4 control-label"> How well do you speak English: </label>
                                    <div class="col-sm-4 col-md-3">
                                        <!--<ui-select ng-model="apply.applicant.otherInfo.englishLevel" ng-required="apply.applicant.otherInfo.language !=='English'" name="languageLevel">
                                            <ui-select-match placeholder="Choose...">
                                                <span ng-bind="$select.selected"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="level in apply.references.languageLevel">
                                                <span ng-bind="level"></span>
                                            </ui-select-choices>
                                        </ui-select>-->
                                        <select id="languageLevel" ng-model="apply.applicant.otherInfo.englishLevel" ng-required="apply.applicant.otherInfo.language !=='English'" name="languageLevel" class="form-control">
                                            <option value="">Select an option…</option>
                                            <option ng-repeat="level in apply.references.languageLevel" value="{{level}}">{{level}}</option>
                                        </select>

                                        <div ng-messages="form_other.languageLevel.$error" ng-show="form_other.languageLevel.$invalid && form_other.languageLevel.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>


                                    </div>
                                </div>
                                <!-- List will be populated from languages JSON file-->
                                <hr/>
                                <!-- LANGUAGE / DISABILITY DIVIDER-->
                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-4 control-label">Do you have a disability, impairment or long-term condition?* </label>
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="disability" ng-model="apply.applicant.otherInfo.isDisabled" uib-btn-radio="true" ng-value="true" ng-required="" uncheckable> Yes</label>
                                            <label class="btn btn-default radio-label-btn" name="disability" ng-model="apply.applicant.otherInfo.isDisabled" uib-btn-radio="false" ng-value="false" ng-required="" uncheckable> No</label>
                                        </div>


                                        <div ng-messages="form_other.disability.$error" ng-show="form_other.disability.$invalid && form_other.disability.$touched" class="help-block">
                                            <div ng-message="required">Please select an option.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Disability question ends here-->
                                <div class="disability-reveal" ng-show="apply.applicant.otherInfo.isDisabled">
                                    <div id="disability-type-reveal" class="form-group row">
                                        <label for="disabilityType" class="col-sm-5 col-md-4 control-label"> Disabilty Type </label>
                                        <div class="col-sm-5 col-md-4">
                                            <!--<ui-select ng-model="apply.applicant.otherInfo.disabilityType" ng-required="apply.applicant.otherInfo.isDisabled" name="disabilityType">
    <ui-select-match placeholder="Choose...">
        <span ng-bind="$select.selected"></span>
    </ui-select-match>
    <ui-select-choices repeat="disability in apply.references.disability">
        <span ng-bind="disability"></span>
    </ui-select-choices>
</ui-select>-->
                                            <select ng-model="apply.applicant.otherInfo.disabilityType" ng-required="apply.applicant.otherInfo.isDisabled" name="disabilityType" class="form-control">
                                                <option value="">Select from list…</option>
                                                <option ng-repeat="disability in apply.references.disability" value="{{disability}}">{{disability}}</option>
                                            </select>
                                            <div ng-messages="otherDisabilityType.disabilityType.$error" ng-show="form_other.disabilityType.$invalid && form_other.disabilityType.$touched" class="help-block">
                                                <div ng-message="required">Required.</div>
                                            </div>


                                        </div>
                                    </div>
                                    <!-- Disability Type ends here-->

                                    <div class="form-group row" ng-show="apply.hasOtherDisability()">
                                        <label for="otherDisabilityType" class="col-sm-5 col-md-4 control-label">Please state other disability: </label>
                                        <div class="col-sm-4 col-md-5">
                                            <input id="otherDisabilityType" type="text" name="otherDisabilityType" placeholder="Other disability" class="form-control" ng-model="apply.applicant.otherInfo.otherDisabilityType" />
                                        </div>
                                        <div ng-messages="otherDisabilityType.otherDisabilityType.$error" ng-show="form_education.otherDisabilityType.$invalid && otherDisabilityType.lui.$touched" class="help-block">
                                            <div ng-message="required">Please provide a valid USI number.</div>
                                        </div>
                                    </div>
                                    <!-- Other disability type ends here -->


                                    <div class="form-group row">
                                        <label class="col-sm-5 col-md-4 control-label">Do you have a management plan for your condition?* </label>
                                        <div class="col-sm-6">
                                            <div clas0s="btn-group">
                                                <label class="btn btn-default radio-label-btn" name="disabilityManagement" ng-model="apply.applicant.otherInfo.hasDisabilityPlan" uib-btn-radio="true" ng-value="true" ng-required="apply.hasDisability()" uncheckable> Yes</label>
                                                <label class="btn btn-default radio-label-btn" name="disabilityManagement" ng-model="apply.applicant.otherInfo.hasDisabilityPlan" uib-btn-radio="false" ng-value="false" ng-required="apply.hasDisability()" uncheckable> No</label>
                                            </div>

                                            <div ng-messages="form_other.disabilityManagement.$error" ng-show="form_other.disabilityManagement.$invalid && form_other.disabilityManagement.$touched" class="help-block">
                                                <div ng-message="required">Please select an option.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Disability management question ends here-->


                                    <div class="form-group row" ng-show="apply.hasDisabilityPlan()">
                                        <label for="disabilityManagementPlan" class="col-sm-5 col-md-4 control-label">Is there any way your trainer may assist in the completion of your course? </label>
                                        <div class="col-sm-4 col-md-5">
                                            <textarea id="disabilityManagementPlan" type="text" name="disabilityManagementPlan" placeholder="" class="form-control" ng-model="apply.applicant.otherInfo.disabilityManagementPlan"></textarea>
                                        </div>
                                        <div ng-messages="otherDisabilityType.otherDisabilityType.$error" ng-show="form_education.otherDisabilityType.$invalid && otherDisabilityType.lui.$touched" class="help-block">
                                            <div ng-message="required">Required.</div>
                                        </div>
                                    </div>
                                    <!-- Disability management plan ends here -->
                                </div>
                                <hr/>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-4 control-label">Do you have a USI number?* </label>
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="hasUsi" ng-model="apply.applicant.otherInfo.hasUsi" uib-btn-radio="true" ng-value="true" ng-required="true" uncheckable> Yes</label>
                                            <label class="btn btn-default radio-label-btn" name="hasUsi" ng-model="apply.applicant.otherInfo.hasUsi" uib-btn-radio="false" ng-value="false" ng-required="true" uncheckable> No</label>
                                        </div>
                                        <div ng-messages="form_other.hasUsi.$error" ng-show="form_other.hasUsi.$invalid && form_other.hasUsi.$touched" class="help-block">
                                            <div ng-message="required">Please select an option.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- USI ends here -->

                                <div class="form-group row" ng-show="apply.applicant.otherInfo.hasUsi">
                                    <!-- Queensland students provide LUI begins here-->
                                    <label for="usi" class="col-sm-5 col-md-4 control-label">Please provide your Unique Student Identifier (USI): </label>
                                    <div class="col-sm-4 col-md-3">
                                        <input id="usiNumber" regex-validate validation-type="usi" maxlength="10" minlength="10" ng-maxlength="10" ng-minlength="10" type="text" name="usiNumber" placeholder="Enter USI" class="form-control" ng-model="apply.applicant.otherInfo.usi" ng-required="true" />
                                        <div ng-messages="form_other.usiNumber.$error" ng-show="form_other.usiNumber.$invalid && form_other.usiNumber.$touched" class="help-block">
                                            <div ng-message="regexValidate">Please provide a valid USI number.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- USI Number ends here -->

                                <div class="form-group row" ng-show="!apply.applicant.otherInfo.hasUsi">
                                    <div class="col-sm-5 col-md-4"></div>
                                    <div class="col-sm-6">
                                        <div class="alert alert-danger">
                                            <p>You must provide your USI in order to proceed with this application. If you do not have one already, <a href="https://www.usi.gov.au/students/create-your-usi" target="_blank">create one here.</a> </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-4 control-label">Do you wish to apply for Recognition of Prior Learning?* </label>
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="rpl" ng-model="apply.applicant.otherInfo.rpl" uib-btn-radio="true" ng-value="true" ng-required="true" uncheckable> Yes</label>
                                            <label class="btn btn-default radio-label-btn" name="rpl" ng-model="apply.applicant.otherInfo.rpl" uib-btn-radio="false" ng-value="false" ng-required="true" uncheckable> No</label>
                                        </div>
                                        <div ng-messages="form_other.rpl.$error" ng-show="form_other.rpl.$invalid && form_other.rpl.$touched" class="help-block">
                                            <div ng-message="required">Please select an option.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- RPL ends here-->

                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-4 control-label">Do you wish to apply for Credit Transfer?* </label>
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <label class="btn btn-default radio-label-btn" name="ct" ng-model="apply.applicant.otherInfo.ct" uib-btn-radio="true" ng-value="true" ng-required="true" uncheckable> Yes</label>
                                            <label class="btn btn-default radio-label-btn" name="ct" ng-model="apply.applicant.otherInfo.ct" uib-btn-radio="false" ng-value="false" ng-required="true" uncheckable> No</label>
                                        </div>

                                        <div ng-messages="form_other.ct.$error" ng-show="form_other.ct.$invalid && form_other.ct.$touched" class="help-block">
                                            <div ng-message="required">Please select an option.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Credit Transfer ends here-->


                                <!-- List will be populated from languages JSON file-->
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row step-nav-btns">
                <div class="col-sm-3">
                    <button type="button" ui-sref="app.apply.selectCourse" class="btn btn-default btn-block nice-btn ghost-default">Previous</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-default btn-block nice-btn ghost-default" ng-click="apply.cancellationModal()">Cancel</button>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success btn-block nice-btn" ui-sref="app.apply.upload" ng-disabled="applicationForm.$invalid">Save &amp; Proceed <i class="icon ion-ios-arrow-right"></i></button>
                </div>
            </div>

        </form>

    </div>
</section>