<div class="wrapper">
    <div class="row">
        <!-- APPLICATIONS DASHBOARD -->
        <section id="main-dashboard">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h2 class="text-capitalize">Hey, {{currentUser.firstName}}.</h2>
                        <!-- <p class="lead"> {{dashboard.welcomeMessage}}</p>-->
                    </div>
                </div>


                <!-- DISPLAY APPLICATIONS -->
                <div class="row" ng-if="dashboard.hasApplications">
                    <div class="col-sm-12">
                        <p class="lead">Your course application history:</p>
                    </div>
                </div>
                <div class="row" ng-if="dashboard.hasApplications" id="current-applications-container">
                    <div class="col-sm-12">
                        <table class="table upload-table">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Course
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                        Application Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="application in dashboard.myapplications">
                                    <td class="text-center"><i class="icon ion-university icon-big"></i></td>
                                    <td>{{application.courseName}} {{application.courseCode}} </td>
                                    <td></td>
                                    <td>
                                        {{application.createdAt | date: 'fullDate'}}
                                    </td>
                                    <td>
                                        {{application.status}}
                                    </td>
                                    <th>
                                        <button ng-click="dashboard.resumeApp($index)" class="action-icon-btn"><i class="icon ion-edit" ng-show="application.status === 'saved'"></i> </button>
                                    </th>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <!-- START NEW APPLICATION -->
                <div class="row" id="start-app-container">
                    <div class="col-xs-12">
                        <a class="btn btn-default btn-block" ui-sref="app.apply.selectCourse" id="begin-application-btn">
                            <i class="icon ion-ios-plus-outline icon-btn-huge"></i>
                            <p>Add New Your Application</p>
                            </button>
                        </a>
                    </div>
                </div>
                <!-- START NEW APPLICATION ENDS HERE -->

                <!-- RESOURCES -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <p><i class="icon ion-ios-information-outline"></i> We've got resources to make your application process easier!</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default text-center" id="how-it-works-panel">
                            <svg enable-background="new 0 0 500 500" id="Layer_1" class='dashboard-icon' version="1.1" viewBox="0 0 500 500" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <g>
                                        <path d="M429.614,66h-47.478c-5.522,0-10,4.477-10,10s4.478,10,10,10h47.478C449.388,86,465,102.571,465,122.344    v105.342c0,6.996-5.218,12.314-12.214,12.314h-24.435l11.363-11.176c3.905-3.905,3.905-10.144,0-14.049    c-3.905-3.905-10.235-3.859-14.143,0.046l-27.191,27.214c-1.901,1.902-2.957,4.501-2.928,7.19c0.028,2.689,1.14,5.259,3.082,7.12    l27.191,26.05c1.938,1.857,4.428,2.78,6.916,2.78c2.631,0,5.259-1.031,7.223-3.082c3.82-3.988,3.684-10.505-0.305-14.325    L431.645,260h21.141C470.811,260,485,245.709,485,227.686V122.344C485,91.542,460.416,66,429.614,66z" fill="#B8C0CC" />
                                        <path d="M116.475,238H68.996C38.195,238,13,263.542,13,294.344v105.342C13,417.709,27.8,432,45.824,432h23.141    l-7.915,7.769c-3.988,3.82-4.125,10.244-0.305,14.232c1.964,2.05,4.592,3.129,7.223,3.129c2.487,0,4.979-0.899,6.916-2.755    l27.191-26.035c1.942-1.86,3.054-4.418,3.082-7.108c0.029-2.689-1.026-5.274-2.928-7.176l-27.191-27.189    c-3.906-3.905-10.236-3.904-14.143,0.001c-3.905,3.905-3.905,10.051,0,13.956L72.259,412H45.824C38.828,412,33,406.682,33,399.686    V294.344C33,274.571,49.224,258,68.996,258h47.479c5.522,0,10-4.477,10-10S121.997,238,116.475,238z" fill="#B8C0CC" />
                                    </g>
                                    <g>
                                        <rect fill="#FFFFFF" height="113.92" width="246.789" x="126.347" y="24.663" />
                                        <path d="M373.137,146.084h-246.79c-4.143,0-7.5-3.358-7.5-7.5V24.664c0-4.142,3.357-7.5,7.5-7.5h246.79    c4.143,0,7.5,3.358,7.5,7.5v113.92C380.637,142.726,377.279,146.084,373.137,146.084z M133.847,131.084h231.79v-98.92h-231.79    V131.084z" fill="#5E6575" />
                                    </g>
                                    <g>
                                        <rect fill="#FFFFFF" height="113.92" width="246.789" x="126.347" y="193.413" />
                                        <path d="M373.137,314.833h-246.79c-4.143,0-7.5-3.358-7.5-7.5v-113.92c0-4.142,3.357-7.5,7.5-7.5h246.79    c4.143,0,7.5,3.358,7.5,7.5v113.92C380.637,311.476,377.279,314.833,373.137,314.833z M133.847,299.833h231.79v-98.92h-231.79    V299.833z" fill="#5E6575" />
                                    </g>
                                    <path d="M381,362.5c0-4.142-3.358-7.5-7.5-7.5h-247c-4.142,0-7.5,3.358-7.5,7.5v114c0,4.142,3.358,7.5,7.5,7.5h247   c4.142,0,7.5-3.358,7.5-7.5V362.5z" fill="#FFB727" />
                                    <path d="M320,73H179c-4.143,0-7.5-3.358-7.5-7.5s3.357-7.5,7.5-7.5h141c4.143,0,7.5,3.358,7.5,7.5   S324.143,73,320,73z" fill="#B8C0CC" />
                                    <path d="M254,106h-75c-4.143,0-7.5-3.358-7.5-7.5s3.357-7.5,7.5-7.5h75c4.143,0,7.5,3.358,7.5,7.5   S258.143,106,254,106z" fill="#B8C0CC" />
                                    <path d="M320,242H179c-4.143,0-7.5-3.358-7.5-7.5s3.357-7.5,7.5-7.5h141c4.143,0,7.5,3.358,7.5,7.5   S324.143,242,320,242z" fill="#B8C0CC" />
                                    <path d="M254,275h-75c-4.143,0-7.5-3.358-7.5-7.5s3.357-7.5,7.5-7.5h75c4.143,0,7.5,3.358,7.5,7.5   S258.143,275,254,275z" fill="#B8C0CC" />
                                    <path d="M320,412H179c-4.143,0-7.5-3.358-7.5-7.5s3.357-7.5,7.5-7.5h141c4.143,0,7.5,3.358,7.5,7.5   S324.143,412,320,412z" fill="#FFFFFF" />
                                    <path d="M254,445h-75c-4.143,0-7.5-3.358-7.5-7.5s3.357-7.5,7.5-7.5h75c4.143,0,7.5,3.358,7.5,7.5   S258.143,445,254,445z" fill="#FFFFFF" />
                                </g>
                            </svg>
                            <div class="text-container">
                                <h4>Find out how it works!</h4>
                                <p>First time using this app? Don't worry. We've all had that feeling once. Let's show you how it works.</p>
                            </div>
                            <div class="btn-container">
                                <a href="" class="btn btn-default">Find out how.</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default text-center" id="policies-procedures-panel">
                            <svg enable-background="new 0 0 500 500" id="Layer_1" class='dashboard-icon' version="1.1" viewBox="0 0 500 500" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <g>
                                        <rect fill="#FFFFFF" height="389.513" width="418.899" x="41.398" y="57.666" />
                                        <path d="M460.298,454.679H41.398c-4.143,0-7.5-3.358-7.5-7.5V57.666c0-4.142,3.357-7.5,7.5-7.5h418.899    c4.143,0,7.5,3.358,7.5,7.5v389.513C467.798,451.321,464.44,454.679,460.298,454.679z M48.898,439.679h403.899V65.166H48.898    V439.679z" fill="#5E6575" />
                                    </g>
                                    <g>
                                        <rect fill="#E1E0E6" height="70.652" width="418.899" x="41.398" y="57.666" />
                                        <path d="M460.298,135.818H41.398c-4.143,0-7.5-3.358-7.5-7.5V57.666c0-4.142,3.357-7.5,7.5-7.5h418.899    c4.143,0,7.5,3.358,7.5,7.5v70.652C467.798,132.46,464.44,135.818,460.298,135.818z M48.898,120.818h403.899V65.166H48.898    V120.818z" fill="#5E6575" />
                                    </g>
                                    <rect fill="#B8C0CC" height="303" width="20" x="171" y="136" />
                                    <rect fill="#B8C0CC" height="303" width="20" x="310" y="136" />
                                    <g>
                                        <rect fill="#E1E0E6" height="32.205" width="141.154" x="91.939" y="196.254" />
                                        <path d="M233.093,235.959H91.938c-4.143,0-7.5-3.358-7.5-7.5v-32.205c0-4.142,3.357-7.5,7.5-7.5h141.154    c4.143,0,7.5,3.358,7.5,7.5v32.205C240.593,232.601,237.235,235.959,233.093,235.959z M99.438,220.959h126.154v-17.205H99.438    V220.959z" fill="#5E6575" />
                                    </g>
                                    <g>
                                        <rect fill="#E1E0E6" height="32.205" width="196.991" x="147.441" y="273.193" />
                                        <path d="M344.432,312.898h-196.99c-4.143,0-7.5-3.358-7.5-7.5v-32.205c0-4.142,3.357-7.5,7.5-7.5h196.99    c4.143,0,7.5,3.358,7.5,7.5v32.205C351.932,309.541,348.574,312.898,344.432,312.898z M154.941,297.898h181.99v-17.205h-181.99    V297.898z" fill="#5E6575" />
                                    </g>
                                    <path d="M420,350.5c0-4.142-3.358-7.5-7.5-7.5h-170c-4.142,0-7.5,3.358-7.5,7.5v32c0,4.142,3.358,7.5,7.5,7.5h170   c4.142,0,7.5-3.358,7.5-7.5V350.5z" fill="#FFB727" />
                                </g>
                            </svg>
                            <div class="text-container">
                                <h4>Enrolment Policies &amp; Procedures</h4>
                                <p>Want to know more about our enrolment policy and its relating procedures? Click to find out more.</p>
                            </div>
                            <div class="btn-container">
                                <a href="" class="btn btn-default">Find out how.</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row hide">
                    <div class="timeline-container">
                        <div class="steps-timeline">
                            <div class="step-block">
                                <div class="step-icon-section">
                                    <p class="step-number">1</p>
                                </div>
                                <div class="step-content-section">
                                    <h4 class="heading">Get your documents ready</h4>
                                    <p>You'll be required to provide documents to support your identity and educational background. Please make sure you have these handy before beginning the application process.</p>
                                </div>
                            </div>
                            <div class="step-block">
                                <div class="step-icon-section">
                                    <p class="step-number">2</p>
                                </div>
                                <div class="step-content-section float-right">
                                    <h4 class="heading">Apply for a course</h4>
                                    <p>Use ENROLL to apply for your selected course. </p>
                                </div>
                            </div>
                            <div class="step-block">
                                <div class="step-icon-section">
                                    <p class="step-number">3</p>
                                </div>
                                <div class="step-content-section">
                                    <h4 class="heading">Confirmation email</h4>
                                    <p>Once your application is submitted, we'll send you a confirmation email acknowledge receipt of your application.</p>
                                </div>
                            </div>
                            <div class="step-block">
                                <div class="step-icon-section">
                                    <p class="step-number">4</p>
                                </div>
                                <div class="step-content-section float-right">
                                    <h4 class="heading">Digital Signature</h4>
                                    <p>You'll also be required to digitally sign a copy of your enrolment application. This will be sent to your confirmed email address.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="dashboard">
            <div id="course-list" ng-if="dashboard.applications">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="course in applications.courses">
                        <td>{{course.name}}</td>
                        <td>{{course.status}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </section>

        </div>
    </div>