<section id="declaration">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="step-header"><span class="step-header-number">4</span> Student Declaration</h3>
            </div>
        </div>
        <div class="row">
            <div class="declaration-text-area">
                <div>
                    <p>I hereby certify that this Pre-Training Review outlines my preferences for learning, my previous study and/or experience in the industry and my future aspirations in this.</p>

                    <p>I certify that I have completed the Pre-Training Review - which includes a Language Literacy &amp; Numeracy Assessment – on my own, based on my personal skills and competencies.</p>

                    <p>I also declare that I have not copied or otherwise plagiarised the work of any other student and/or had another party complete this on my behalf.</p>

                    <p>I understand that any breach of this declaration may result in my withdrawal from the course.</p>
                </div>
                <div>
                    <p><strong>PRIVACY STATEMENT &amp; STUDENT DECLARATION</strong></p>
                    <ul>
                        <li>
                            <p>
                                I declare that the information I have provided is true and correct. I am aware of the consequences that may arise from providing false, misleading or incomplete information, including the cancellation of my enrolment or the withdrawal of any offer made by {{ctrl.academyName}}.
                            </p>
                        </li>
                        <li>
                            <p>
                                I understand that my RTO {{ctrl.academyName}} is required to submit data sourced from this enrolment form to the national VET administrative collection as a regulatory reporting requirement. The information contained on my enrolment form may be used by my RTO or the following third parties for administrative, regulatory and / or research purposes:
                                <ul>
                                    <li>
                                        <p>School – if I am a school based apprentice or trainee or VET in Schools student.</p>
                                    </li>
                                    <li>
                                        <p>Employer – if I am enrolled in training paid by my employer.</p>
                                    </li>
                                    <li>
                                        <p>Government departments and agencies and authorized VET related bodies.</p>
                                    </li>
                                    <li>
                                        <p>VET regulators</p>
                                    </li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <p>I understand that I may receive a National Centre for Vocational Education Research (NCVER) student survey.</p>
                        </li>
                        <li>
                            <p><strong>Applicable to Victorian student only</strong> - Victorian Government VET Student Enrolment Privacy Notice</p>

                            <p>The Victorian Government, through the Department of Education and Training (the Department), develops, monitors and funds vocational education and training (VET) in Victoria. The Victorian Government is committed to ensuring that Victorians have access to appropriate and relevant VET services. Any personal information collected by the Department for VET purposes is protected in accordance with the Privacy and Data Protection Act 2014 (Vic) and the Health Records Act 2001 (Vic).</p>

                            <p>
                                <em>Collection of your data</em>
                            </p>
                            <p>
                                {{ctrl.academyName}} is required to provide the Department with student and training activity data. This includes personal information collected in the {{ctrl.academyName}} enrolment form and unique identifiers such as the Victorian Student Number (VSN) and the Commonwealth’s Unique Student Identifier (USI).
                            </p>
                            <p>
                                {{ctrl.academyName}} provides data to the Department in accordance with the Victorian VET Student Statistical Collection Guidelines, available at: http://www.education.vic.gov.au/training/providers/rto/Pages/datacollection.aspx.
                            </p>
                            <p>
                                <em>Use of your data</em>
                            </p>
                            <p>
                                The Department uses student and training data, including personal information, for a range of VET purposes including administration, monitoring and planning.
                            </p>
                            <p>
                                A student’s USI may be used for specific VET purposes including the verification of student data provided by {{ctrl.academyName}}; the administration and audit of VET providers and programs; education-related policy and research purposes; and to assist in determining eligibility for training subsidies.
                            </p>
                            <p>
                                <em>Disclosure of your data</em>
                            </p>
                            <p>
                                As necessary and where lawful, the Department may disclose VET data, including personal information, to its contractors, other government agencies, professional bodies and/or other organisations for VET-related purposes. In particular, this includes disclosure of VET student and training data to the Commonwealth and the National Centre for Vocational Education Research (NCVER).
                            </p>
                            <p>
                                <em>Legal and Regulatory</em>
                            </p>
                            <p>
                                The Department’s collection and handling of enrolment data and VSNs is authorised under the Education and Training Reform Act 2006 (Vic). The Department is also authorised to collect and handle USIs in accordance with the Student Identifiers Act 2014 (Cth) and the Student Identifiers Regulation 2014 (Cth).
                            </p>
                            <p>
                                <em>Survey participation</em>
                            </p>
                            <p>
                                You may be contacted to participate in a survey conducted by NCVER or a Department-endorsed project, audit or review relating to your training. This provides valuable feedback on the delivery of VET programs in Victoria.
                            </p>
                            <p>
                                <em>Consequences of not providing your information</em>
                            </p>
                            <p>
                                Failure to provide your personal information may mean that it is not possible for you to enrol in VET and/or to obtain a Victorian Government VET subsidy
                            </p>
                            <p>
                                <em>Access, correction and complaints</em>
                            </p>
                            <p>
                                You have the right to seek access to or correction of your own personal information. You may also complain if you believe your privacy has been breached.
                            </p>
                            <p>
                                For further information, please contact {{ctrl.academyName}}’s Privacy Officer in the first instance by phone (03) 8976 0111 or email <a href="mailto:StudentServices@PT.edu.au">StudentServices@PT.edu.au</a>
                            </p>
                            <p>
                                <em>Further information</em>
                            </p>
                            <p>
                                For further information about the way the Department collects and handles personal information, including access, correction and complaints, go to: <a href="http://www.education.vic.gov.au/Pages/privacypolicy.aspx">http://www.education.vic.gov.au/Pages/privacypolicy.aspx.</a>
                            </p>
                            <p>
                                For further information about Unique Student Identifiers, including access, correction and complaints, go to: <a href="http://www.usi.gov.au/Students/Pages/student-privacy.aspx">http://www.usi.gov.au/Students/Pages/student-privacy.aspx.</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <em>Access, correction and complaints</em>
                            </p>
                            <p>
                                You have the right to seek access to or correction of your own personal information. You may also complain if you believe your privacy has been breached.
                            </p>
                            <p>
                                For further information, please contact {{ctrl.academyName}}’s Privacy Officer in the first instance by phone (03) 8976 0111 or email <a href="StudentServices@PT.edu.au">StudentServices@PT.edu.au.</a>
                            </p>
                        </li>
                        <li>
                            <p>I understand that if requested and where applicable, {{ctrl.academyName}} may disclose information about my study loads and progress to Centrelink, my Job Seeker Agency, The Australian Tax Office and the Department of Immigration and Border Protection. </p>
                        </li>
                        <li>
                            <p>I understand that I can obtain further information about {{ctrl.academyName}}’s Privacy Policy in the Student Handbook.</p>
                        </li>
                        <li>
                            <p>I acknowledge that it is my responsibility to provide {{ctrl.academyName}} with a valid Unique Student Identifier (USI) and I give permission to {{ctrl.academyName}} to verify the USI in order for any qualification Testamur/s to be issued.</p>
                        </li>
                        <li>
                            <p>I have read all information regarding the course I am enrolling into and I understand that it is my responsibility to provide all relevant documentation required for my enrolment such as those relating to my eligibility or to apply for the Recognition of my Prior Learning.
                            </p>
                        </li>
                        <li>
                            <p>I also understand that it is my responsibility to provide certified copies of any prior qualifications in order for Credit Transfers to be applied. In order to receive a reduction of my tuition fees, I must provide them on or prior to Orientation date.</p>
                        </li>
                        <li>
                            <p>
                                I understand that my email address or student ID will be used as my Digital Signature or Personal Unique Identifier. This will indicate any work I submit electronically means my own work. This declaration also includes the completion of the online Language, Literacy &amp; Numeracy Tests.
                            </p>
                        </li>
                        <li>
                            <p>
                                I acknowledge that it is my responsibility to read and understand the contents of the Student Handbook provided at enrolment and I am fully aware of the policies and procedures included in this. I agree to act in accordance with the regulations, statutes and disciplinary procedures of {{ctrl.academyName}}.
                            </p>
                        </li>
                        <li>
                            <p>
                                I have a clear understanding of the Student Code of Conduct included in the Student Handbook and I am aware that any breach of the code including harassment and bullying of other students or {{ctrl.academyName}} staff is unacceptable and could result in being withdrawn from the course.
                            </p>
                        </li>
                        <li>
                            <p>
                                I understand and am fully aware of the policy and procedures regarding refunds. I also understand that if my payment is not cleared, I may be withdrawn from the course/modules in this registration.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Applicable to student accessing VET FEE-HELP Loan only</strong> - I understand that {{ctrl.academyName}} is collecting the information in this form for the purpose of assessing my entitlement to Commonwealth assistance under the Higher Education Support Act 2003 and allocation of a Commonwealth Higher Education Student Support Number (CHESSN) to me. {{ctrl.academyName}} will disclose this information to the Australian Government Department of Education and Training for those purposes. The Department will store the information securely in the Higher Education Information Management System. The Department may disclose the information to the Australian Taxation Office. {{ctrl.academyName}} and the Department will not otherwise disclose the information without my consent unless authorised by law.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Applicable to student accessing VET FEE-HELP Loan only</strong> - I agree that if my VET FEE–HELP balance is not enough to cover my tuition fees with {{ctrl.academyName}} , I am responsible to arrange payment of any outstanding amount prior to commencement of the course.
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Applicable to students paying upfront fees only</strong> -I understand and am fully aware of the policy and procedures regarding refunds. I also understand that if my payment is not cleared five (5) days after enrolment, I may be withdrawn from the course/modules in this registration.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group" ng-form>
                <!--<button type="button" class="btn btn-primary" ng-required="true" ng-model="ctrl.applicant.declared" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    I have read and understood all the above.
                </button>-->
                <label>
                    <input type="checkbox" ng-model="ctrl.applicant.declared" ng-required="true"> I have read and understood all the above.
                </label>
            </div>
        </div>
    </div>
</section>


<div class="row step-nav-btns">
    <div class="col-sm-3">
        <button type="button" ui-sref="app.apply.upload" class="btn btn-default btn-block nice-btn ghost-default">Previous</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-block nice-btn ghost-default" ng-click="ctrl.cancellationModal()">Cancel</button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-success btn-block nice-btn" ng-disabled="!ctrl.applicant.declared || ctrl.buttonDisable" ng-click="ctrl.submit()">Submit Application <i class="icon ion-ios-arrow-right"></i></button>
    </div>
</div>