<div class="wrapper">
    <section id="eligibility">
        <div class="container">
            <div class="row">
                <h3 class="step-header"><span class="step-header-number">2</span> Check Funding Eligibility:</h3>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <button class="btn btn-success btn-block nice-btn" ui-sref=".apply.completeDetails">Submit Application <i class="icon ion-ios-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>
</div>