<div ng-controller="headerCtrl as header">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="appicon" ui-sref="login">
                    <svg id="logo-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 841.97 226.68">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                }
                                
                                .cls-2 {
                                    font-size: 140.72px;
                                    font-family: Source Sans Pro;
                                    font-weight: 600;
                                }
                                
                                .cls-2,
                                .cls-4 {
                                    fill: #063a5d;
                                }
                                
                                .cls-3 {
                                    clip-path: url(#clip-path);
                                }
                            </style>
                            <clipPath id="clip-path" transform="translate(0 -14)">
                                <rect class="cls-1" y="36.94" width="185.5" height="133.69" />
                            </clipPath>
                        </defs>
                        <title>ENROL</title>
                        <text class="cls-2" transform="translate(181 154.98)">ENROLL</text>
                        <g class="cls-3">
                            <path class="cls-4" d="M173.72,48.69a9.29,9.29,0,0,0-12.83,0l-2.13,2.13,12.83,12.82,2.13-2.13A9.07,9.07,0,0,0,173.72,48.69Zm-19.26,6.43-4.26,4.26L163,72.2l4.26-4.26Zm-49.13,49.1L118.16,117,158.72,76.5,145.9,63.68Zm-3.27,5.32L94,128.39l18.86-8.08-10.67-10.66Zm71.67-39.45-8.56,8.56h0l-44.86,44.83a3,3,0,0,1-.86.57s-0.05.05-.09,0.07h0L89.39,137a3,3,0,0,1-1.2.25A3,3,0,0,1,85.4,133l12.83-29.92h0v0s0.05-.05.07-0.09a3,3,0,0,1,.58-0.86l44.86-44.83h0l8.56-8.55,4.28-4.28A15.15,15.15,0,0,1,178,65.81Zm-0.4,97.52H9.13A9.13,9.13,0,0,1,0,158.49V103.78a9.13,9.13,0,0,1,9.12-9.12H90.8a3,3,0,1,1,0,6.08H9.13a3,3,0,0,0-3,3v54.71a3,3,0,0,0,3,3H173.34a3,3,0,0,0,3-3V103.78a3,3,0,0,0-3-3H159a3,3,0,1,1,0-6.08h14.33a9.13,9.13,0,0,1,9.12,9.12v54.71A9.13,9.13,0,0,1,173.34,167.61Z" transform="translate(0 -14)" />
                        </g>
                    </svg>
                </div>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li><a ui-sref="login" ng-hide="header.loginStatus">Sign In</a></li>
                <li><a ui-sref="register" ng-hide="header.loginStatus">Register</a></li>
                <!-- Logged in menu bar -->
                <li>
                    <a ng-show="header.loginStatus">
                        <i class="icon ion-android-person menu-icon border-icon"></i><span class="userName">{{header.userName}}</span></a>
                </li>
                <!--
                <li>
                    <a ng-show="header.loginStatus">
                        <i class="icon ion-gear-b menu-icon border-icon"></i><span class="userName">Profile</span></a>
                </li>
                -->
                <li><a ui-sref="logout" ng-show="header.loginStatus">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!--
    <section id="sub-nav" ng-show="header.loginStatus">
        <div class="container-fluid">
            <p class="nav-pill">Home / Dashboard</p>
        </div>
    </section>
    -->
</div>