<div id="login" class="wrapper">
    <div class="container">
        <div class="row">

            <div class="form-container">
                <form id="login-form" name="loginForm" class="form" method="POST" novalidate>
                    <div class="header text-center">
                        <p class="form-header">Sign In</p>
                        <span class="help-block bg-danger" ng-show="loginForm.$submitted && main.loginFailed"><i class="icon ion-android-cancel"> </i> Incorrect email or password.</span>
                    </div>
                    <div class="form-body">
                        <div class="form-group has-feedback">
                            <!--<label for="Email">Email:</label>-->
                            <div class="input-group">
                                <i class="icon ion-email input-group-addon"></i>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="main.user.email" ng-required>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="password">Password:</label>-->
                            <div class="input-group">
                                <i class="icon ion-locked input-group-addon"></i>
                                <input type="password" id="password" name="password" placeholder="Password" class="form-control" ng-model="main.user.password" ng-required ng-minlength="3">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" ng-click="main.login()">Sign In</button>
                        </div>
                        <div class="form-group">
                            <a class="pull-right" ui-sref="forgot" class="forgot-password">Forgot My Password</a>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Don't have an account? <a class="small text-uppercase" ui-sref="register">Create account</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>