<div id="login" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="form-container">
                    <form id="register-form" name="registerForm" class="form" method="POST">
                        <div class="header text-center">
                            <h2 class="form-header">Create An Account</h2>
                        </div>
                        <div class="form-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="firstName">First name:</label>
                                    <div class="input-group">
                                        <i class="icon ion-person input-group-addon"></i>
                                        <input type="text" id="firstName" name="firstName" ng-model="user.regUser.firstName" class="form-control" ng-required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="firstName">Last name:</label>
                                    <input type="text" id="lastName" name="lastName" ng-model="user.regUser.lastName" class="form-control" ng-required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email:</label>
                                <div class="input-group">
                                    <i class="icon ion-email input-group-addon"></i>
                                    <input type="email" id="email" name="email" ng-model="user.regUser.email" class="form-control" ng-required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Password:</label>
                                <div class="input-group">
                                    <i class="icon ion-locked input-group-addon"></i>
                                    <input type="password" id="password" name="password" ng-model="user.regUser.password" class="form-control" ng-required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Confirm Password:</label>
                                <div class="input-group">
                                    <i class="icon ion-locked input-group-addon"></i>
                                    <input password-equals other-password="user.regUser.password" ng-model="user.regUser.cfPassword" type="password" id="confirmPassword" class="form-control" ng-required>
                                </div>
                                <span class="help-block" ng-show="registerForm.$error.confirmPassword && registerForm.password.$touched"><i class="icon ion-android-cancel"> </i> Your passwords do not match.</span>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-block" ng-click="user.createUser()">Register</button>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <p class="text-muted">Already have an account?</p>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <a ui-sref="login" class="text-uppercase">Sign In</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>