<section id="courseSelection">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="step-header"><span class="step-header-number">1</span> Choose Your course:</h3>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-block btn-primary btn-round" ng-click="ctrl.addCourseChoice()" ng-disabled="ctrl.maxAllowedReached">
                    <i class="icon ion-plus-round"></i> Add Course
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="svg-icon-container btn" ng-show="!ctrl.hasChoices" ng-click="ctrl.addCourseChoice()" ng-disabled="ctrl.maxAllowedReached">
                    <svg id="Layer_1" version="1.1" viewBox="0 0 57 60" width="57px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title/>
                        <desc/>
                        <defs/>
                        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                            <g id="560---Add-File-(Webby)" stroke="#337AB6" stroke-width="2" transform="translate(1.000000, 1.000000)">
                                <path d="M55,46 C55,52.627 49.627,58 43,58 C36.373,58 31,52.627 31,46 C31,39.373 36.373,34 43,34 C49.627,34 55,39.373 55,46 L55,46 Z" fill="#D0E8F9" id="Stroke-450" />
                                <path d="M10,22 L35,22" id="Stroke-466" stroke-linecap="round" />
                                <path d="M10,14 L20,14" id="Stroke-468" stroke-linecap="round" />
                                <path d="M10,30 L35,30" id="Stroke-470" stroke-linecap="round" />
                                <path d="M10,38 L27,38" id="Stroke-472" stroke-linecap="round" />
                                <path d="M10,46 L24,46" id="Stroke-474" stroke-linecap="round" />
                                <path d="M31,0 L31,14 L45,14" id="Stroke-476" />
                                <path d="M43,40 L43,52" id="Stroke-478" stroke-linecap="round" />
                                <path d="M49,46 L37,46" id="Stroke-480" stroke-linecap="round" />
                                <path d="M31,46 C31,39.373 36.373,34 43,34 C43.683,34 44.348,34.07 45,34.18 L45,14 L31,0 L0,0 L0,58 L43,58 C36.373,58 31,52.627 31,46 L31,46 Z" id="Stroke-482" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="text-center">
                    <p class="small-instruction-text" ng-show="!ctrl.hasChoices">Please select your course of choice.</p>
                </div>
            </div>
        </div>

        <form id="ctrl.coursesForm" name="ctrl.coursesForm" novalidate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="courses" ng-repeat="choices in ctrl.courseChoices">
                        <div class="panel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Course:</label>
                                    <ui-select ng-model="choices.course" on-select="ctrl.getIntakes($item)" ng-required="true" name="courseChoice">
                                        <ui-select-match placeholder="Choose...">
                                            <span ng-bind="$select.selected.code + ' ' + $select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="course.id as course in ctrl.filteredCourses">
                                            <span ng-bind="course.code + ' ' + course.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-3">
                                    <label>Campus:</label>
                                    <ui-select ng-model="choices.campus" ng-required="true" name="campusChoice">
                                        <ui-select-match placeholder="Choose...">
                                            <span ng-bind="$select.selected.Campus__r.Name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="intake in ctrl.currentCampuses">
                                            <span ng-bind="intake.Campus__r.Name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-3">
                                    <label>Start Date:</label>
                                    <ui-select ng-model="choices.intake" ng-required="true" name="intakeChoice">
                                        <ui-select-match placeholder="Choose...">
                                            <span ng-bind="$select.selected.code + ' ' + $select.selected.Online_Orientation_Day__c"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="intake in ctrl.currentIntakes">
                                            <span ng-bind="intake.Online_Orientation_Day__c"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right">
                                    <button ng-click="ctrl.removeCourseChoice($index)" class="ghost-btn"><i class="icon ion-close-round"></i> Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel" id="citizenship-section">
                <div class="form-group row">
                    <div class="col-sm-4 col-md-4">
                        <label class="control-label">Citizenship:</label>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <!--
                        <ui-select ng-model="ctrl.applicant.citizenship.country" ng-required="true" name="citizenshipCountry">
                            <ui-select-match placeholder="Choose...">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
                                <span ng-bind="country"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-messages="ctrl.coursesForm.citizenshipCountry.$error" ng-show="ctrl.coursesForm.citizenshipCountry.$invalid && ctrl.coursesForm.citizenshipCountry.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                        -->

                        <select id="citizenshipCountry" ng-model="ctrl.applicant.citizenship.country" ng-required="true" name="citizenshipCountry" class="form-control">
                            <option value="">Select an option…</option>
                            <option ng-repeat="country in ctrl.countries" value="{{country}}">{{country}}</option>
                        </select>


                    </div>
                </div>

                <div class="form-group row" ng-show="ctrl.showScvVisa()">
                    <label class="col-sm-5 col-md-4 control-label">Do you hold a Special Category Visa (SCV)? </label>
                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input id="scvVisaYes" type="radio" value="yes" name="scvVisa" ng-model="ctrl.applicant.citizenship.scvVisa" ng-value="true" ng-required="ctrl.showScvVisa()" /> Yes
                        </label>
                        <label class="radio-inline">
                            <input id="scvVisaNo" type="radio" value="no" name="scvVisa" ng-model="ctrl.applicant.citizenship.scvVisa" ng-value="false" ng-required="ctrl.showScvVisa()" /> No
                        </label>
                        <div ng-messages="ctrl.coursesForm.scvVisa.$error" ng-show="ctrl.coursesForm.scvVisa.$invalid && ctrl.coursesForm.scvVisa.$touched" class="help-block">
                            <div ng-message="required">Please select an option.</div>
                        </div>
                    </div>
                </div>


                <div class="form-group row" ng-show="ctrl.showVisaStatus()">
                    <div class="col-sm-4 col-md-4">
                        <label class="control-label">Visa Status:</label>
                    </div>
                    <div class="col-sm-8 col-md-5">
                        <!--<ui-select ng-model="ctrl.applicant.citizenship.visaStatus" ng-required="ctrl.showVisaStatus()" name="visaStatus">
                            <ui-select-match placeholder="Choose...">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="status in ctrl.references.visaTypes">
                                <span ng-bind="status"></span>
                            </ui-select-choices>
                        </ui-select>-->
                        <select id="citizenshipCountry" ng-model="ctrl.applicant.citizenship.visaStatus" ng-required="ctrl.showVisaStatus()" name="visaStatus" class="form-control">
                            <option value="">Select an option…</option>
                            <option ng-repeat="status in ctrl.references.visaTypes" value="{{status}}">{{status}}</option>
                        </select>

                        <div ng-messages="ctrl.coursesForm.visaStatus.$error" ng-show="ctrl.coursesForm.visaStatus.$invalid && ctrl.coursesForm.visaStatus.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" ng-show="ctrl.showOtherVisa()">
                    <div class="col-sm-4 col-md-4">
                        <label class="control-label">Visa Subcategory:</label>
                    </div>
                    <div class="col-sm-8 col-md-5">
                        <input type='text' name="visaSubcategory" ng-model="ctrl.applicant.citizenship.otherVisa.subCategory" class="form-control" ng-required="ctrl.showOtherVisa()" />
                        <div ng-messages="ctrl.coursesForm.visaSubcategory.$error" ng-show="ctrl.coursesForm.visaSubcategory.$invalid && ctrl.coursesForm.visaSubcategory.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" ng-show="ctrl.showOtherVisa()">
                    <div class="col-sm-4 col-md-4">
                        <label class="control-label">Visa Expiry Date:</label>
                    </div>
                    <div class="col-sm-8 col-md-5">
                        <input type='date' name="visaExpiry" ng-model="ctrl.applicant.citizenship.otherVisa.expiryDate" class="form-control" ng-required="ctrl.showOtherVisa()" />
                        <div ng-messages="ctrl.coursesForm.visaExpiry.$error" ng-show="ctrl.coursesForm.visaExpiry.$invalid && ctrl.coursesForm.visaExpiry.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" ng-show="ctrl.showOtherVisa()">
                    <label class="col-sm-5 col-md-4 control-label">Are you allowed to stay and study in Australia? </label>
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <label class="btn btn-default radio-label-btn" name="allowedToStudy" ng-model="ctrl.applicant.citizenship.otherVisa.allowedToStudy" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.showOtherVisa()">Yes</label>
                            <label class="btn btn-default radio-label-btn" name="allowedToStudy" ng-model="ctrl.applicant.citizenship.otherVisa.allowedToStudy" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.showOtherVisa()">No</label>
                        </div>
                        <div ng-messages="ctrl.coursesForm.allowedToStudy.$error" ng-show="ctrl.coursesForm.allowedToStudy.$invalid && ctrl.coursesForm.allowedToStudy.$touched" class="help-block">
                            <div ng-message="required">Please select an option.</div>
                        </div>
                    </div>
                </div>


                <hr/>

                <!-- STUDY REASON-->
                <div class="form-group row">
                    <label for="studyReason" class="col-sm-5 col-md-4 control-label"> Study Reason </label>
                    <div class="col-sm-6 col-md-5">
                        <!--<ui-select ng-model="ctrl.applicant.otherInfo.studyReason" ng-required="true" name="studyReason">
                            <ui-select-match placeholder="Choose...">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="reason in ctrl.references.studyReason">
                                <span ng-bind="reason"></span>
                            </ui-select-choices>
                        </ui-select>-->
                        <select id="citizenshipCountry" ng-model="ctrl.applicant.otherInfo.studyReason" ng-required="true" name="studyReason" class="form-control">
                            <option value="">Select an option…</option>
                            <option ng-repeat="reason in ctrl.references.studyReason" value="{{reason}}">{{reason}}</option>
                        </select>

                        <div ng-messages="ctrl.coursesForm.studyReason.$error" ng-show="ctrl.coursesForm.studyReason.$invalid && ctrl.coursesForm.studyReason.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                        <!--
                        <select id="studyReason" ng-model="ctrl.applicant.otherInfo.studyReason" ng-required="true" name="studyReason" class="form-control">
                            <option value="">Select an option…</option>
                            <option ng-repeat="reason in ctrl.references.studyReason" value="{{reason}}">{{reason}}</option>
                        </select>-->

                    </div>
                </div>


                <div class="form-group row" ng-show="ctrl.showOtherReason()">
                    <!-- School name begins here-->
                    <label for="otherStudyReason" class="col-sm-5 col-md-4 control-label">Please state other reason </label>
                    <div class="col-sm-6 col-md-5">
                        <textarea id="otherStudyReason" type="text" name="otherStudyReason" placeholder="State other reason" class="form-control" ng-model="ctrl.applicant.otherInfo.otherStudyReason" ng-required="ctrl.showOtherReason()"></textarea>
                        <div ng-messages="ctrl.coursesForm.otherStudyReason.$error" ng-show="ctrl.coursesForm.otherStudyReason.$invalid && ctrl.coursesForm.otherStudyReason.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="vfh-section" class="panel" ng-show="ctrl.vfhEligible()">
                <div class="panel-header">
                    <p class="panel-heading text-center">Based on the information you've provided. You <em>may</em> be eligible to access VET FEE-HELP Loan.</p>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-5 col-md-4 control-label">Do you intend to use VET FEE-HELP government assistance program for your course fees? </label>
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <label class="btn btn-default radio-label-btn" name="wantsToAccess" ng-model="ctrl.applicant.funding.vfh.wantsToAccess" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.vfhEligible()">Yes</label>
                                <label class="btn btn-default radio-label-btn" name="wantsToAccess" ng-model="ctrl.applicant.funding.vfh.wantsToAccess" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.vfhEligible()">No</label>
                            </div>
                            <div ng-messages="ctrl.coursesForm.wantsToAccess.$error" ng-show="ctrl.coursesForm.wantsToAccess.$invalid && ctrl.coursesForm.wantsToAccess.$touched" class="help-block">
                                <div ng-message="required">Please select an option.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-show="ctrl.accesingVfh()">
                        <label class="col-sm-5 col-md-4 control-label">Have you participated in education or training with a Higher Education Provider (HEP) or Registered Training Provider prior to enrolling into this course? </label>
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <label class="btn btn-default radio-label-btn" name="hasRecentProvider" ng-model="ctrl.applicant.funding.vfh.hasRecentProvider" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.accesingVfh()">Yes</label>
                                <label class="btn btn-default radio-label-btn" name="hasRecentProvider" ng-model="ctrl.applicant.funding.vfh.hasRecentProvider" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.accesingVfh()">No</label>
                            </div>
                            <div ng-messages="ctrl.coursesForm.hasRecentProvider.$error" ng-show="ctrl.coursesForm.hasRecentProvider.$invalid && ctrl.coursesForm.hasRecentProvider.$touched" class="help-block">
                                <div ng-message="required">Please select an option.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="ctrl.hasPriorTraining()">
                        <!-- School name begins here-->
                        <label for="recentProviderName" class="col-sm-5 col-md-4 control-label">Please enter most recent Provider Name: </label>
                        <div class="col-sm-6 col-md-5">
                            <input id="recentProviderName" type="text" name="recentProviderName" placeholder="Provider/RTO's name" class="form-control" ng-model="ctrl.applicant.funding.vfh.recentProvider.name" ng-required="false" />
                            <div ng-messages="ctrl.coursesForm.recentProviderName.$error" ng-show="ctrl.coursesForm.recentProviderName.$invalid && ctrl.coursesForm.recentProviderName.$touched" class="help-block">
                                <div ng-message="required">Required.</div>
                            </div>
                        </div>
                    </div>


                    <!-- Level of Schooling ends here-->
                    <div class="form-group row" ng-show="ctrl.hasPriorTraining()">
                        <!-- Year last attended begins here-->
                        <label for="recentProviderYear" class="col-sm-5 col-md-4 control-label">Year last enrolled: </label>
                        <div class="col-sm-4 col-md-3">
                            <div class="input-group">
                                <i class="icon ion-ios-calendar input-group-addon"></i>
                                <input id="recentProviderYear" type="text" name="recentProviderYear" maxlength="4" placeholder="Year last attended" class="form-control" ng-model="ctrl.applicant.funding.vfh.recentProvider.yearLastEnrolled" />
                            </div>
                            <div ng-messages="ctrl.coursesForm.recentProviderYear.$error" ng-show="ctrl.coursesForm.recentProviderYear.$invalid && ctrl.coursesForm.recentProviderYear.$touched" class="help-block">
                                <div ng-message="regexValidate">Please enter a valid year.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="ctrl.hasPriorTraining()">
                        <!-- School name begins here-->
                        <label for="schoolName" class="col-sm-5 col-md-4 control-label">Please enter your Student No:</label>
                        <div class="col-sm-6 col-md-5">
                            <input id="recentProviderStudentNumber" type="text" name="recentProviderStudentNumber" placeholder="Student number..." class="form-control" ng-model="ctrl.applicant.funding.vfh.recentProvider.studentNumber" />
                            <div ng-messages="ctrl.coursesForm.recentProviderStudentNumber.$error" ng-show="ctrl.coursesForm.recentProviderStudentNumber.$invalid && ctrl.coursesForm.recentProviderStudentNumber.$touched" class="help-block">
                                <div ng-message="required">Required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="ctrl.hasPriorTraining() && ctrl.accesingVfh()">
                        <!-- School name begins here-->
                        <label for="previouslyAccessedVfh" class="col-sm-5 col-md-4 control-label">Have you accessed VET FEE-HELP previously? </label>
                        <div class="col-sm-6 col-md-5">

                            <div class="btn-group">
                                <label class="btn btn-default radio-label-btn" name="previouslyAccessedVfh" ng-model="ctrl.applicant.funding.vfh.previouslyAccessedVfh" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.hasPriorTraining() && ctrl.accesingVfh()">Yes</label>
                                <label class="btn btn-default radio-label-btn" name="previouslyAccessedVfh" ng-model="ctrl.applicant.funding.vfh.previouslyAccessedVfh" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.hasPriorTraining() && ctrl.accesingVfh()">No</label>
                            </div>

                            <div ng-messages="ctrl.coursesForm.previouslyAccessedVfh.$error" ng-show="ctrl.coursesForm.hasRecentProvider.$invalid && ctrl.coursesForm.previouslyAccessedVfh.$touched" class="help-block">
                                <div ng-message="required">Please select an option.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="ctrl.hasAccessedVfhBefore()">
                        <!-- School name begins here-->
                        <label for="schoolName" class="col-sm-5 col-md-4 control-label">Enter <em>Commonwealth Higher Education Student Support Number (CHESSN) </em> - if known:</label>
                        <div class="col-sm-6 col-md-5">
                            <input id="recentProviderStudentNumber" type="text" regex-validate validation-type="chessn" name="CHESSN" placeholder="CHESSN" class="form-control" ng-model="ctrl.applicant.funding.vfh.CHESSN" ng-required="false" />
                            <!--
                            <div ng-messages="ctrl.coursesForm.CHESSN.$error" ng-show="ctrl.coursesForm.CHESSN.$invalid && ctrl.coursesForm.recentProviderStudentNumber.$touched" class="help-block">
                                <div ng-message="required">Required.</div>
                            </div>-->
                        </div>
                    </div>


                </div>
            </div>
            <!--

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off" ng-model="ctrl.applicant.funding.vfh.previouslyAccessedVfh" uib-btn-checkbox> Checkbox 2
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Checkbox 3
                </label>
            </div>-->

        </form>
    </div>
</section>

<div class="row step-nav-btns">
    <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-block nice-btn ghost-default cancel-btn" ng-click="ctrl.cancelEnrollment()">Cancel</button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-success btn-block nice-btn" ui-sref="app.apply.completeDetails" ng-disabled="!ctrl.coursesForm.$valid" ng-click="ctrl.persist()">Save &amp; Proceed</button>
    </div>
</div>