<section id="uploadDocs">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="step-header"><span class="step-header-number">3</span> Upload Documents:</h3>
            </div>
            <div class="col-sm-2">

                <input type="file" name="document" ngf-select="upload.addFile($file)" class="btn upload-btn bnt-file" id="fileUpload">
                <label id="upload-label-btn" class="btn btn-block btn-primary btn-round" for="fileUpload"><i class="icon ion-upload"></i> Add File </label>

                <!-- angular-file-uploader               <input type="file" name="document" nv-file-select uploader="upload.uploader" class="btn upload-btn bnt-file" id="fileUpload">
                <label id="upload-label-btn" class="btn btn-block btn-primary btn-round" for="fileUpload"><i class="icon ion-upload"></i> Add File </label>-->
            </div>
        </div>

        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>To assess your application, we require copies of your identification and supporting documentation. </p>


                <div class="row">
                    <div class="col-sm-6">
                        <p><em>*If you're accessing VET FEE-HELP, you're required to provide any of these:</em></p>
                        <ul class="id-list">
                            <li>
                                <p>Australian Passport or</p>
                            </li>
                            <li>
                                <p>Certificate of Citizenship or</p>
                            </li>
                            <li>
                                <p>Birth Certificate or - <small>*further requirements may apply.</small></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p><em>*If you're accessing VTG:</em></p>
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table upload-table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Filename
                            </th>
                            <th>

                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in upload.files">
                            <td class="text-center"><i class="icon ion-android-attach icon-big"></i></td>
                            <td>{{file.name}}</td>
                            <td></td>
                            <td>
                                <button ng-click="upload.removeFile($index)" class="action-icon-btn"><i class="icon ion-android-delete"></i> </button>
                                <!--<button class="action-icon-btn" ng-click="item.upload()"><i class="icon ion-android-add"></i> </button>-->
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>


<div class="row step-nav-btns">
    <div class="col-sm-3">
        <button type="button" ui-sref="app.apply.completeDetails" class="btn btn-default btn-block nice-btn ghost-default">Previous</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-block nice-btn ghost-default" ng-click="upload.cancellationModal()">Cancel</button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-success btn-block nice-btn" ui-sref="app.apply.declaration">Save &amp; Proceed <i class="icon ion-ios-arrow-right"></i></button>
    </div>
</div>