<div class="panel">
    <div class="col-sm-6">
        <select name="course" id=course ""></select>
    </div>
    <div class="col-sm-3">
        <select name="campus" id="campus"></select>
    </div>
    <div class="col-sm-3">
        <select name="intake" id="intake"></select>
    </div>
</div>