<div class="row" ng-cloak>
    <div class="select-course">
        <div class="form-group">
            <div class="input-group">
                <input type="search" placeholder="Find your course" class="form-control" ng-model="ctrl.brand">
                <i class="icon darker ion-ios-search input-group-addon"></i>
            </div>
        </div>
        <div id="coursesSection">
            <div class="dt-course-list">
                <ul class="dt-courses clearfix">
                    <li class="dt-course" ng-repeat="course in ctrl.filteredCourses | filter:ctrl.brand track by course.code" ng-click="ctrl.getIntakes(course, $index)" ng-class="{'selected': ctrl.courseIndex===$index}">
                        <p class=" course-code ">{{course.code}}</p>
                        <h4 class="course-name ">{{course.name}}</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div id="filter-section">
            <div class="panel">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="campus">WHERE</label>
                            <ui-select ng-model="ctrl.campusChosen" ng-required="true" name="campus">
                                <ui-select-match placeholder="Choose...">
                                    <span ng-bind="$select.selected.campus"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="intake in ctrl.currentCampuses">
                                    <span ng-bind="intake.campus"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="campus">WHEN</label>
                        <ui-select ng-model="ctrl.startDateChosen" ng-required="true" name="campus">
                            <ui-select-match placeholder="Choose..."><span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="intake in ctrl.currentIntakes | filter: ctrl.campusChosen">
                                <span ng-bind="intake.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class='sub-section-header'>Citizenship &amp; Residency</h4>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <button class="btn btn-success btn-block nice-btn" ng-click="ctrl.sendInfo()">Proceed <i class="icon ion-ios-arrow-right"></i></button>
    </div>
</div>